Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

feat: added lesson order to domain and mongo schema
  apis/courses/src/contexts/lessons/application/commands/CreateNewLesson.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/LessonOrder.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonData.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonSchema.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonSchemaFactory.ts
Labels: Courses

feat: sorting by order when searching lessons by course id
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
Labels: Courses

feat: updated contract to return lesson order on get endpoints
  apis/courses/src/api/controllers/lesson/GetLessonByIdController.ts
  apis/courses/src/api/controllers/lesson/GetLessonsByCourseIdController.ts
  packages/commons/src/contracts/courses/LessonContracts.ts
Labels: Auth, Courses, Profiles, Web

[Courses] Added Lesson order (#51)
  apis/courses/src/api/controllers/lesson/GetLessonByIdController.ts
  apis/courses/src/api/controllers/lesson/GetLessonsByCourseIdController.ts
  apis/courses/src/contexts/lessons/application/commands/CreateNewLesson.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/LessonOrder.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonData.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonSchema.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonSchemaFactory.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
  packages/commons/src/contracts/courses/LessonContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: added usecase to reorder lesson up
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonUp.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/LessonOrder.ts
  apis/courses/src/contexts/lessons/domain/errors/LessonNotFoundError.ts
  apis/courses/src/contexts/lessons/domain/errors/UnableToReorderLessonError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

refactor: simplified usecase - no need of courseId as param of command
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonUp.ts
Labels: Courses

feat: added reorder lesson controller
  apis/courses/src/api/controllers/lesson/ReorderLessonController.ts
Labels: Courses

remove: unused private method on usecase
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonUp.ts
Labels: Courses

refactor: using previousOf method of LessonOrder
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonUp.ts
Labels: Courses

fix: using equals method and correct order on error
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonUp.ts
Labels: Courses

feat: added reorder lesson up to command mapping
  apis/courses/src/api/mapping/lessons/commands/index.ts
Labels: Courses

feat: reorder lesson down usecase
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonDown.ts
  apis/courses/src/contexts/lessons/domain/errors/UnableToReorderLessonError.ts
Labels: Courses

feat: added reorder lesson down to command mapping
  apis/courses/src/api/mapping/lessons/commands/index.ts
Labels: Courses

feat: added reorder lesson down to controller
  apis/courses/src/api/controllers/lesson/ReorderLessonController.ts
Labels: Courses

[Courses] Added reordering endpoints for lessons (#52)
  apis/courses/src/api/controllers/lesson/ReorderLessonController.ts
  apis/courses/src/api/mapping/lessons/commands/index.ts
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonDown.ts
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonUp.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/LessonOrder.ts
  apis/courses/src/contexts/lessons/domain/errors/LessonNotFoundError.ts
  apis/courses/src/contexts/lessons/domain/errors/UnableToReorderLessonError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: added web endpoints
  apps/web/src/pages/api/lesson/[id]/down.tsx
  apps/web/src/pages/api/lesson/[id]/up.tsx
Labels: Web

feat: connected front with endpoints and added modals
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
  apps/web/src/contexts/lessons/aplication/ReorderLessonDown.ts
  apps/web/src/contexts/lessons/aplication/ReorderLessonUp.ts
Labels: Web

fix: better naming for performing action modal class
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
Labels: Web

[Courses - Creator] Reordering lessons on course lesson list (#53)
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
  apps/web/src/contexts/lessons/aplication/ReorderLessonDown.ts
  apps/web/src/contexts/lessons/aplication/ReorderLessonUp.ts
  apps/web/src/pages/api/lesson/[id]/down.tsx
  apps/web/src/pages/api/lesson/[id]/up.tsx
Labels: Web

feat: added publishedAt property on course
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseData.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchemaFactory.ts
Labels: Courses

feat: isPublished flag to course info response
  apis/courses/src/api/controllers/courses/GetCourseByIdController.ts
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  packages/commons/src/contracts/courses/CourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: added default value to publishedAt schema
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
Labels: Courses

feat: added publishedAt to response
  apis/courses/src/api/controllers/courses/GetCourseByIdController.ts
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  packages/commons/src/contracts/courses/CourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: preview to published field to course
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

[Courses] PublishedAt on courses (#54)
  apis/courses/src/api/controllers/courses/GetCourseByIdController.ts
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseData.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchemaFactory.ts
  apps/web/src/components/creator/course/preview.tsx
  packages/commons/src/contracts/courses/CourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: added usecase for publishing course
  apis/courses/src/contexts/courses/application/commands/PublishCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/errors/NotAbleToPublishCourseError.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasPublished.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: mapped usecase
  apis/courses/src/api/mapping/courses/commands/index.ts
Labels: Courses

feat: added controller for publishing course
  apis/courses/src/api/controllers/courses/PublishCourseController.ts
  apis/courses/src/contexts/courses/application/commands/PublishCourse.ts
Labels: Courses

feat: web endpoint for publishing course
  apps/web/src/pages/api/course/[id]/publish.tsx
Labels: Web

feat: connected publish course usecase to frontend
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/contexts/courses/application/PublishCourse.ts
Labels: Web

feat: updatedAt when lesson created
  apis/courses/src/api/mapping/lessons/events/index.ts
  apis/courses/src/api/mapping/lessons/index.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/lessons/application/events/UpdateCourseWhenLessonsChangedHandler.ts
Labels: Courses

[Courses] Publish course (#55)
  apis/courses/src/api/controllers/courses/PublishCourseController.ts
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/contexts/courses/application/commands/PublishCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/errors/NotAbleToPublishCourseError.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasPublished.ts
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/contexts/courses/application/PublishCourse.ts
  apps/web/src/pages/api/course/[id]/publish.tsx
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: updatedAt when lesson deleted
  apis/courses/src/api/mapping/lessons/events/index.ts
  apis/courses/src/contexts/lessons/application/commands/DeleteLesson.ts
  apis/courses/src/contexts/lessons/application/events/UpdateCourseWhenLessonsChangedHandler.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasDeleted.ts
Labels: Courses

feat: updatedAt when lesson was updated or reordered
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonDown.ts
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonUp.ts
  apis/courses/src/contexts/lessons/application/events/UpdateCourseWhenLessonsChangedHandler.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/events/LessonContentWasUpdated.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasRenamed.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasReordered.ts
Labels: Courses

[Courses] Mark course when lessons changed (#56)
  apis/courses/src/api/mapping/lessons/events/index.ts
  apis/courses/src/api/mapping/lessons/index.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/lessons/application/commands/DeleteLesson.ts
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonDown.ts
  apis/courses/src/contexts/lessons/application/commands/ReorderLessonUp.ts
  apis/courses/src/contexts/lessons/application/events/UpdateCourseWhenLessonsChangedHandler.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/events/LessonContentWasUpdated.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasDeleted.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasRenamed.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasReordered.ts
Labels: Courses

refactor: changed new dates to hasBeenUpdated method
  apis/courses/src/contexts/courses/domain/Course.ts
Labels: Courses

refactor: changed new dates to hasBeenUpdated method (#57)
  apis/courses/src/contexts/courses/domain/Course.ts
Labels: Courses

feat: unpublish usecase
  apis/courses/src/contexts/courses/application/commands/UnpublishCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/errors/NotAbleToUnpublishCourseError.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasUnpublished.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: mapped usecase
  apis/courses/src/api/mapping/courses/commands/index.ts
Labels: Courses

fix: correct error code on not able to publish error
  apis/courses/src/contexts/courses/domain/errors/NotAbleToPublishCourseError.ts
Labels: Courses
