Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

feat: adapted old tests to users not having required email
  apis/auth/test/e2e/auth/SignInController.spec.ts
  apis/auth/test/e2e/auth/SignUpController.spec.ts
  apis/auth/test/integration/user/MongoUserRepository.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithBasicCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGoogleCredentials.spec.ts
  apis/auth/test/unit/contexts/user/domain/User.spec.ts
  apis/auth/test/unit/contexts/user/domain/services/UserFinder.spec.ts
Labels: Auth

test: fixed some and added some more for github credentials
  apis/auth/test/e2e/auth/SignInController.spec.ts
  apis/auth/test/e2e/auth/SignUpController.spec.ts
  apis/auth/test/helpers/builders/user/UserBuilder.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/domain/User.spec.ts
  apis/auth/test/unit/contexts/user/domain/UserGithubCredentials.spec.ts
Labels: Auth

[AUTH] GitHub OAuth authorization (#23)
  apis/auth/.env.example
  apis/auth/src/api/config/env.ts
  apis/auth/src/api/controllers/auth/GithubOAuthController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
  apis/auth/src/api/mapping/user/queries/index.ts
  apis/auth/src/contexts/users/application/commands/RegisterNewUser/RegisterNewUserGithubCredentials.ts
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithGithubCredentials.ts
  apis/auth/src/contexts/users/domain/GithubId.ts
  apis/auth/src/contexts/users/domain/PossibleUserCredentials.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserGithubCredentials.ts
  apis/auth/src/contexts/users/domain/UserRepository.ts
  apis/auth/src/contexts/users/domain/errors/UserNotFound.ts
  apis/auth/src/contexts/users/domain/services/UserFinder.ts
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/MongoUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserData.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchema.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchemaFactory.ts
  apis/auth/test/e2e/auth/SignInController.spec.ts
  apis/auth/test/e2e/auth/SignUpController.spec.ts
  apis/auth/test/helpers/builders/user/UserBuilder.ts
  apis/auth/test/integration/user/MongoUserRepository.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithBasicCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGoogleCredentials.spec.ts
  apis/auth/test/unit/contexts/user/domain/User.spec.ts
  apis/auth/test/unit/contexts/user/domain/UserGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/domain/services/UserFinder.spec.ts
  apps/web/src/components/auth/GithubAuthButton.tsx
  apps/web/src/pages/api/auth/github/index.ts
  apps/web/src/pages/api/auth/github/url.ts
  yarn.lock
Labels: Auth, Web

feat: added Dependency Injection library & env file
  apis/courses/.env.example
  apis/courses/package.json
  apis/courses/src/api/app.ts
  apis/courses/src/api/config/env.ts
  apis/courses/src/api/controllers/_health/index.ts
  apis/courses/src/api/controllers/index.ts
  apis/courses/src/api/index.ts
  apis/courses/src/api/middlewares/after/ErrorHandler.ts
  apis/courses/src/api/middlewares/after/RouteNotFound.ts
  apis/courses/src/api/middlewares/before/RequestConsoleLogger.ts
  apis/courses/src/api/middlewares/index.ts
Labels: Courses

feat: changed getEnvVarOrThrow to getEnvVarOrDefault
  apis/courses/src/api/config/env.ts
Labels: Courses

feat: added connection to mongo with mongoose
  apis/courses/.env.example
  apis/courses/package.json
  apis/courses/src/api/config/env.ts
  apis/courses/src/api/index.ts
  apis/courses/src/api/mongo/config.ts
  apis/courses/src/api/mongo/connection.ts
Labels: Courses

feat: updated yarn lock & qa workflow
  .github/workflows/qa.yml
  yarn.lock
Labels: none

feat: added commons package to courses api
  .github/workflows/qa.yml
  apis/courses/package.json
  yarn.lock
Labels: Courses

[Courses] bootstrap api (#25)
  .github/workflows/qa.yml
  apis/courses/.env.example
  apis/courses/package.json
  apis/courses/src/api/app.ts
  apis/courses/src/api/config/env.ts
  apis/courses/src/api/controllers/_health/index.ts
  apis/courses/src/api/controllers/index.ts
  apis/courses/src/api/index.ts
  apis/courses/src/api/middlewares/after/ErrorHandler.ts
  apis/courses/src/api/middlewares/after/RouteNotFound.ts
  apis/courses/src/api/middlewares/before/RequestConsoleLogger.ts
  apis/courses/src/api/middlewares/index.ts
  apis/courses/src/api/mongo/config.ts
  apis/courses/src/api/mongo/connection.ts
  yarn.lock
Labels: Courses

feat: working on modal component
  apps/web/src/pages/creator/index.tsx
  packages/ui/components/modal/index.tsx
  packages/ui/components/modal/modal.module.scss
Labels: Web, Storybook

deps: added react-icons to studio/ui
  packages/ui/package.json
  yarn.lock
Labels: Web, Storybook

feat: added text-are component and working on modal component
  packages/ui/components/interactivity/form/body/textAreaInput.tsx
  packages/ui/components/interactivity/form/index.tsx
  packages/ui/components/modal/index.tsx
  packages/ui/components/modal/modal.module.scss
Labels: Web, Storybook

wip: working on create a new course modal
  apps/web/src/components/creator/create-modal/index.tsx
  apps/web/src/contexts/courses/application/CreateCourse.ts
  apps/web/src/pages/creator/index.tsx
Labels: Web

chore: removed console.logs
  apps/web/src/pages/creator/index.tsx
  packages/ui/components/search/coursesSearcher.tsx
Labels: Web, Storybook

feat: contracts for create course
  packages/commons/src/contracts/courses/CourseContracts.ts
  packages/commons/src/contracts/courses/CreateCourseContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: web - server side request for creating a course (WIP)
  apps/web/src/components/creator/create-modal/index.tsx
  apps/web/src/contexts/courses/application/CreateCourse.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/lib/env.ts
  apps/web/src/pages/api/courses/index.ts
Labels: Web

changes: auth responsability to auth module
  apps/web/src/contexts/courses/application/CreateCourse.ts
  apps/web/src/pages/api/courses/index.ts
  packages/commons/src/contracts/courses/CreateCourseContracts.ts
Labels: Auth, Courses, Profiles, Web

revert: not needed due to token already containing user id
  apps/web/src/contexts/courses/application/CreateCourse.ts
  apps/web/src/pages/api/courses/index.ts
  packages/commons/src/contracts/courses/CreateCourseContracts.ts
Labels: Auth, Courses, Profiles, Web

deps: added some necesary deps for jwt authentication
  apis/courses/package.json
  yarn.lock
Labels: Courses

feat: added a simplified version of auth checker for courses (just reading the jwt)
  apis/courses/.env.example
  apis/courses/src/api/app.ts
  apis/courses/src/api/auth/authUser.ts
  apis/courses/src/api/auth/authorizationChecker.ts
  apis/courses/src/api/auth/currentUserChecker.ts
  apis/courses/src/api/auth/index.ts
  apis/courses/src/api/auth/strategies/JwtStrategy.ts
  apis/courses/src/api/config/env.ts
Labels: Courses

[API - Courses] Authorization checker & Current user for course module (#26)
  apis/courses/.env.example
  apis/courses/package.json
  apis/courses/src/api/app.ts
  apis/courses/src/api/auth/authUser.ts
  apis/courses/src/api/auth/authorizationChecker.ts
  apis/courses/src/api/auth/currentUserChecker.ts
  apis/courses/src/api/auth/index.ts
  apis/courses/src/api/auth/strategies/JwtStrategy.ts
  apis/courses/src/api/config/env.ts
  yarn.lock
Labels: Courses

wip: initial course class and value objects
  apis/courses/src/contexts/.gitkeep
  apis/courses/src/contexts/courses/domain/AuthorId.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/CourseDescription.ts
  apis/courses/src/contexts/courses/domain/CourseId.ts
  apis/courses/src/contexts/courses/domain/CourseTitle.ts
  apis/courses/src/contexts/shared/domain/valueObjects/UUID.ts
Labels: Courses

dep: added uuid dependencies
  apis/courses/package.json
  yarn.lock
Labels: Courses

feat: added CourseWasCreated event
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasCreated.ts
  apis/courses/src/contexts/shared/domain/AggregateRoot.ts
  apis/courses/src/contexts/shared/domain/DomainEvent.ts
Labels: Courses

feat: create new course command handler
  apis/courses/src/contexts/courses/application/commands/CreateNewCourse.ts
  apis/courses/src/contexts/courses/domain/CourseDescription.ts
  apis/courses/src/contexts/courses/domain/CourseRepository.ts
  apis/courses/src/contexts/courses/domain/CourseTitle.ts
  apis/courses/src/contexts/shared/application/CommandHandler.ts
  apis/courses/src/contexts/shared/domain/DomainEventSubscriber.ts
  apis/courses/src/contexts/shared/domain/EventBus.ts
  apis/courses/src/contexts/shared/domain/Handler.ts
Labels: Courses

feat: added infrastructure for event bus and course repository
  apis/courses/src/contexts/courses/application/commands/CreateNewCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseData.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchemaFactory.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/MongoCourseRepository.ts
  apis/courses/src/contexts/shared/infrastructure/EventBus/InMemoryAsyncEventBus.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/EntitySchemaFactory.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoRepository.ts
Labels: Courses

feat: added commandBus and mapped create new course command
  apis/courses/src/api/app.ts
  apis/courses/src/api/mapping/courses/index.ts
  apis/courses/src/api/mapping/index.ts
  apis/courses/src/contexts/shared/domain/CommandBus.ts
  apis/courses/src/contexts/shared/domain/Constructor.ts
  apis/courses/src/contexts/shared/infrastructure/CommandBus/InMemoryCommandBus.ts
Labels: Courses

test: added first spec for create new course
  apis/courses/jest.config.js
  apis/courses/package.json
  apis/courses/test/helpers/object-mother/NumberMother.ts
  apis/courses/test/helpers/object-mother/StringMother.ts
  apis/courses/test/unit/contexts/courses/application/commands/CreateNewCourse.spec.ts
  apis/courses/tsconfig.json
  yarn.lock
Labels: Courses

dep: added testcontainers to courses api
  apis/courses/package.json
  yarn.lock
Labels: Courses

test: added integration test for mongo course repository
  apis/courses/test/helpers/builders/CourseBuilder.ts
  apis/courses/test/helpers/builders/builder.ts
  apis/courses/test/helpers/persistance/mongo/courses.ts
  apis/courses/test/helpers/test-containers/mongo.ts
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
Labels: Courses

feat: create new course controller
  apis/courses/src/api/controllers/courses/CreateNewCourseController.ts
Labels: Courses

dep: added supertest to courses api
  apis/courses/package.json
  yarn.lock
Labels: Courses

fix: fixed command parsing into value objects
  apis/courses/src/contexts/courses/application/commands/CreateNewCourse.ts
Labels: Courses

test: added e2e test for endpoint
  apis/courses/test/e2e/courses/CreateNewCourse.spec.ts
  apis/courses/test/helpers/builders/AuthorizationTokenBuilder.ts
  apis/courses/test/helpers/builders/builder.ts
  apis/courses/test/helpers/persistance/mongo/courses.ts
Labels: Courses

[Creator Panel] Create a course interface (#24)
  apps/web/src/components/creator/create-modal/index.tsx
  apps/web/src/components/creator/creator.module.scss
  apps/web/src/components/creator/header.tsx
  apps/web/src/components/creator/panel/index.tsx
  apps/web/src/contexts/courses/application/CreateCourse.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/lib/env.ts
  apps/web/src/pages/api/courses/index.ts
  apps/web/src/pages/creator/index.tsx
  apps/web/src/styles/globals.scss
  packages/commons/src/contexts/courses/domain/CoursePreviewData.ts
  packages/commons/src/contracts/courses/CourseContracts.ts
  packages/commons/src/contracts/courses/CreateCourseContracts.ts
  packages/commons/src/index.ts
  packages/ui/components/interactivity/form/body/textAreaInput.tsx
  packages/ui/components/interactivity/form/index.tsx
  packages/ui/components/interactivity/tags/index.tsx
  packages/ui/components/interactivity/tags/tags.module.scss
  packages/ui/components/modal/index.tsx
  packages/ui/components/modal/modal.module.scss
  packages/ui/components/search/coursesSearcher.tsx
  packages/ui/components/search/search.module.scss
  packages/ui/package.json
  yarn.lock
Labels: Auth, Courses, Profiles, Web, Storybook

changes: fix authorization on endpoint and some little refactor changes
  apis/courses/src/api/app.ts
  apis/courses/src/api/auth/authUser.ts
  apis/courses/src/api/auth/authorizationChecker.ts
  apis/courses/src/api/auth/strategies/JwtStrategy.ts
  apis/courses/src/api/auth/user.ts
  apis/courses/src/api/controllers/courses/CreateNewCourseController.ts
Labels: Courses

feat(web): add authorizationToken to post for internal api
  apps/web/src/lib/InternalApiClient.ts
Labels: Web

feat(web): fixed empty response failing to parse and making the request with authorization token
  apps/web/src/components/creator/create-modal/index.tsx
  apps/web/src/contexts/courses/application/CreateCourse.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/pages/api/courses/index.ts
Labels: Web

feat(web): fixed empty response failing to parse for internalApiClient
  apps/web/src/lib/InternalApiClient.ts
Labels: Web

feat(web): closing modal after creating course
  apps/web/src/components/creator/create-modal/index.tsx
Labels: Web
