Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

feat: useCourse hook
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/hooks/course/useCourse.ts
Labels: Web

refactor using useCallback on onFetch function for creator coursesearcher
  apps/web/src/pages/creator/index.tsx
Labels: Web

feat: useLesson hook
  apps/web/src/components/creator/course/lessons/PreviewLesson.tsx
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/hooks/course/useLesson.ts
Labels: Web

feat: useCourseLessons
  apps/web/src/components/creator/course/lessons/CourseLessonsList.tsx
  apps/web/src/hooks/course/useCourseLessons.ts
Labels: Web

[Web] Using hooks (#62)
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/creator/course/lessons/CourseLessonsList.tsx
  apps/web/src/components/creator/course/lessons/PreviewLesson.tsx
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/components/header/header.tsx
  apps/web/src/hooks/course/useCourse.ts
  apps/web/src/hooks/course/useCourseLessons.ts
  apps/web/src/hooks/course/useLesson.ts
  apps/web/src/hooks/user/useCurrentUser.ts
  apps/web/src/lib/cookieUtils.ts
  apps/web/src/pages/creator/course/edit/[id].tsx
  apps/web/src/pages/creator/index.tsx
Labels: Web

feat: added hook & endpoint to serialize server-side
  apps/web/src/hooks/markdown/useSerializer.tsx
  apps/web/src/lib/env.ts
  apps/web/src/pages/api/markdown/serializer.ts
Labels: Web

feat: implemented useSerializer on CourseContentPreview
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/hooks/markdown/useSerializer.tsx
Labels: Web

feat: implemented useSerializer on all other components
  apps/web/src/components/creator/course/lessons/PreviewLesson.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
Labels: Web

feat: made a component for markdown rendering
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/creator/course/lessons/PreviewLesson.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/components/markdown/renderer.tsx
Labels: Web

deps: using uiw/react-markdown-preview instead of next-mdx-remote
  apps/web/package.json
  yarn.lock
Labels: Web

feat: full rework of markdown renderer
  apps/web/src/components/markdown/components/headers.tsx
  apps/web/src/components/markdown/components/mdxComponents.module.scss
  apps/web/src/components/markdown/components/texts.tsx
  apps/web/src/components/markdown/renderer.tsx
  apps/web/src/hooks/markdown/useSerializer.tsx
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/api/markdown/serializer.ts
  apps/web/src/styles/rewriteMdxStyles.scss
Labels: Web

[Web] Markdown Renderer rework (#63)
  apps/web/package.json
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/creator/course/lessons/PreviewLesson.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/components/markdown/components/headers.tsx
  apps/web/src/components/markdown/components/mdxComponents.module.scss
  apps/web/src/components/markdown/components/texts.tsx
  apps/web/src/components/markdown/renderer.tsx
  apps/web/src/lib/env.ts
  apps/web/src/pages/_app.tsx
  apps/web/src/styles/rewriteMdxStyles.scss
  yarn.lock
Labels: Web

feat: component for markdown editore
  apps/web/src/components/markdown/editor.tsx
Labels: Web

feat: using component instead of uiw implementation
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/components/creator/course/newCourseForm.tsx
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

style: css rework for creator course card
  apps/web/src/components/creator/panel/panel.module.scss
Labels: Web

[Web] Markdown editor rework (#64)
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/components/creator/course/newCourseForm.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/components/markdown/editor.tsx
Labels: Web

style: css rework for creator course card (#65)
  apps/web/src/components/creator/panel/panel.module.scss
Labels: Web

feat: useCourseAuthor hook
  apps/web/src/hooks/course/useCourseAuthor.ts
Labels: Web

feat: use hook on related components
  apps/web/src/components/courses/CourseCard.tsx
  apps/web/src/components/courses/CourseContentPreview.tsx
Labels: Web

[Web] useCourseAuthor hook (#66)
  apps/web/src/components/courses/CourseCard.tsx
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/hooks/course/useCourseAuthor.ts
Labels: Web

feat: fixed current tests and and added cases for create new course
  apis/courses/test/helpers/builders/CourseBuilder.ts
  apis/courses/test/helpers/object-mother/CourseTagMother.ts
  apis/courses/test/unit/contexts/courses/application/commands/CreateNewCourse.spec.ts
Labels: Courses

feat: added more specific errors to course value objects
  apis/courses/src/contexts/courses/domain/CourseTags.ts
  apis/courses/src/contexts/courses/domain/CourseTitle.ts
  apis/courses/src/contexts/courses/domain/errors/InvalidCourseTagsError.ts
  apis/courses/src/contexts/courses/domain/errors/InvalidCourseTitleError.ts
  apis/courses/test/unit/contexts/courses/application/commands/CreateNewCourse.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

test: Rename course tests
  apis/courses/test/unit/contexts/courses/application/commands/RenameCourse.spec.ts
Labels: Courses

test: Update course description tests
  apis/courses/test/unit/contexts/courses/application/commands/UpdateCourseDescription.spec.ts
Labels: Courses

test: Update course tags tests
  apis/courses/test/unit/contexts/courses/application/commands/UpdateCourseTags.spec.ts
Labels: Courses

test: added publish and unpublish testcases
  apis/courses/test/helpers/builders/CourseBuilder.ts
  apis/courses/test/unit/contexts/courses/application/commands/PublishCourse.spec.ts
  apis/courses/test/unit/contexts/courses/application/commands/UnpublishCourse.spec.ts
Labels: Courses

feat: test for get course by id
  apis/courses/test/unit/contexts/courses/application/queries/GetCourseById.spec.ts
Labels: Courses

feat: set default value of publishedAt as null
  apis/courses/src/contexts/courses/domain/Course.ts
Labels: Courses

test: added more testcases for mongoCourseRepository
  apis/courses/test/helpers/builders/CourseBuilder.ts
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
Labels: Courses

fix: name of main describe for Mongo Course Repository
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
Labels: Courses

chore: added jest scripts on package
  apis/courses/package.json
Labels: Courses

feat: tested create new course controller
  apis/courses/src/api/controllers/courses/CreateNewCourseController.ts
  apis/courses/test/e2e/courses/CreateNewCourse.spec.ts
  packages/api-utils/src/exceptions/BadRequestError.ts
  packages/api-utils/src/exceptions/index.ts
Labels: Auth, Courses, Profiles, Web

feat: rework error handler
  apis/courses/test/e2e/courses/CreateNewCourse.spec.ts
  packages/api-utils/package.json
  packages/api-utils/src/exceptions/BadRequestError.ts
  packages/api-utils/src/exceptions/RouteNotFound.ts
  packages/api-utils/src/middlewares/ErrorHandler.ts
  packages/commons/src/errors/ErrorCodes.ts
  yarn.lock
Labels: Auth, Courses, Profiles, Web

test: get course by id e2e testcases
  apis/courses/test/e2e/courses/GetCourseById.spec.ts
Labels: Courses

feat: fixed authorization checker error handling
  apis/courses/src/api/auth/authorizationChecker.ts
  packages/api-utils/src/exceptions/UnauthorizedError.ts
  packages/api-utils/src/exceptions/index.ts
  packages/commons/src/contexts/shared/domain/errors/ApiError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

test: unauthorized testcase for creating new course
  apis/courses/test/e2e/courses/CreateNewCourse.spec.ts
Labels: Courses

test: get my courses paginated testcases
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/test/e2e/courses/GetMyCoursesPaginated.spec.ts
Labels: Courses

test: get published courses paginated testcases
  apis/courses/src/api/controllers/courses/GetPublishedCoursesPaginatedController.ts
  apis/courses/test/e2e/courses/GetPublishedCoursesPaginated.spec.ts
Labels: Courses

fix: route not found error on courses
  apis/courses/src/api/middlewares/after/RouteNotFound.ts
Labels: Courses

fix: auth checker and route not found on auth module
  apis/auth/src/api/auth/authorizationChecker.ts
  apis/auth/src/api/middlewares/after/RouteNotFound.ts
Labels: Auth

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*
