Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

test: covered update method
  apis/courses/test/integration/course-subscriptions/MongoCourseSubscriptionRepository.spec.ts
Labels: Courses

fix: removed async on describe
  apis/courses/test/integration/course-subscriptions/MongoCourseSubscriptionRepository.spec.ts
Labels: Courses

feat: marking as updated when marking lesson completed
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
Labels: Courses

feat: added controller
  apis/courses/src/api/controllers/course-subscriptions/MarkLessonAsCompletedController.ts
  apis/courses/src/api/mapping/course-subscriptions/commands/index.ts
  apis/courses/test/e2e/course-subscriptions/MarkLessonAsCompleted.spec.ts
Labels: Courses

fix: error message
  apis/courses/src/contexts/course-subscriptions/domain/errors/CourseSubscriptionNotFoundError.ts
Labels: Courses

[Courses] Endpoint for marking lesson as completed (#87)
  apis/courses/src/api/controllers/course-subscriptions/MarkLessonAsCompletedController.ts
  apis/courses/src/api/mapping/course-subscriptions/commands/index.ts
  apis/courses/src/contexts/course-subscriptions/application/commands/MarkLessonAsCompleted.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/CourseSubscriptionNotFoundError.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToCompleteLessonError.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
  apis/courses/test/e2e/course-subscriptions/MarkLessonAsCompleted.spec.ts
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/integration/course-subscriptions/MongoCourseSubscriptionRepository.spec.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/commands/MarkLessonAsCompleted.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: web endpoint
  apps/web/src/pages/api/course-subscription/complete-lesson/[lessonId].ts
Labels: Web

fix: put method, not delete :facepalm:
  apps/web/src/pages/api/course-subscription/complete-lesson/[lessonId].ts
Labels: Web

feat: connected frontend to endpoint
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/lessons/LessonContentView.tsx
  apps/web/src/contexts/course-subscription/application/MarkLessonAsCompleted.ts
Labels: Web

chore: better naming on css class
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/components/courses/subscribed/lessons/LessonContentView.tsx
Labels: Web

[Courses] Mark lesson as completed (#88)
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/components/courses/subscribed/lessons/LessonContentView.tsx
  apps/web/src/contexts/course-subscription/application/MarkLessonAsCompleted.ts
  apps/web/src/pages/api/course-subscription/complete-lesson/[lessonId].ts
Labels: Web

feat: added event and commiting it from markLessonAsCompleted method
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/LessonWasCompletedOnCourseSubscription.ts
Labels: Courses

feat: added event and commiting it from markLessonAsCompleted method (#89)
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/LessonWasCompletedOnCourseSubscription.ts
Labels: Courses

feat: added completed property to courseSubscription
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToCompleteError.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionData.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchemaFactory.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: courseSubscriptionWasCompleted event and handler for checking if course was completed on lesson completed
  apis/courses/src/api/mapping/course-subscriptions/events/index.ts
  apis/courses/src/contexts/course-subscriptions/application/events/CheckIfCourseWasCompletedOnLessonCompleted.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/CourseSubscriptionWasCompleted.ts
Labels: Courses

test: covered event hander
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/CheckIfCourseWasCompletedOnLessonCompleted.spec.ts
Labels: Courses

fix: correct event subscribed :facepalm:
  apis/courses/src/contexts/course-subscriptions/application/events/CheckIfCourseWasCompletedOnLessonCompleted.ts
Labels: Courses

[Courses - API] Mark course subscription as completed if all lessons were completed (#90)
  apis/courses/src/api/mapping/course-subscriptions/events/index.ts
  apis/courses/src/contexts/course-subscriptions/application/events/CheckIfCourseWasCompletedOnLessonCompleted.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToCompleteError.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/CourseSubscriptionWasCompleted.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionData.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchemaFactory.ts
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/CheckIfCourseWasCompletedOnLessonCompleted.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: remove lesson from completed lessons on lesson deleted
  apis/courses/src/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionsLessonOnLessonWasDeleted.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToUncompleteLessonError.ts
Labels: Courses

refactor: moved delete lesson from completed lesson to private method
  apis/courses/src/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionsLessonOnLessonWasDeleted.ts
Labels: Courses

feat: mark as completed if there's no more lessons remaining uncompleted
  apis/courses/src/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionsLessonOnLessonWasDeleted.ts
Labels: Courses

fix: added errorcode for unable to uncomplete lesson
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToUncompleteLessonError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: renamed handler
  apis/courses/src/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionsOnLessonWasDeleted.ts
Labels: Courses

feat: subscribed handler
  apis/courses/src/api/mapping/course-subscriptions/events/index.ts
Labels: Courses

feat: implemented method on repository
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
Labels: Courses

fix: removeLessonFromCompletedLessons method was pushing instead of removing lesson :facepalm:
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
Labels: Courses

fix: uncompletedCourses was filtering completed courses instead
  apis/courses/src/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionsOnLessonWasDeleted.ts
Labels: Courses

feat: added tests for event handler
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionsLessonOnLessonWasDeleted.spec.ts
Labels: Courses

feat: added event handler and uncompleted subscription event
  apis/courses/src/contexts/course-subscriptions/application/events/MarkCourseSubscriptionAsNonCompletedOnLessonCreated.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToUncompleteError.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/CourseSubscriptionWasUncompleted.ts
Labels: Courses

fix: correct error code on UnableToUncompleteLessonError
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToUncompleteLessonError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

test: covered handler
  apis/courses/test/unit/contexts/course-subscriptions/application/events/MarkCourseSubscriptionAsNonCompletedOnLessonCreated.spec.ts
Labels: Courses

[Courses - API] Update course subscriptions on lesson deleted (#91)
  apis/courses/src/api/mapping/course-subscriptions/events/index.ts
  apis/courses/src/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionsOnLessonWasDeleted.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToUncompleteLessonError.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionsLessonOnLessonWasDeleted.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

fix: removed mongo warning messages on modified indexes
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonSchema.ts
Labels: Auth, Courses

[Courses - API] Mark subscription as non completed on lesson created (#92)
  apis/courses/src/contexts/course-subscriptions/application/events/MarkCourseSubscriptionAsNonCompletedOnLessonCreated.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToUncompleteError.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/CourseSubscriptionWasUncompleted.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/MarkCourseSubscriptionAsNonCompletedOnLessonCreated.spec.ts
Labels: Courses

fix: removed mongo warning messages on modified indexes (#93)
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonSchema.ts
Labels: Auth, Courses

feat: added handler and test
  apis/courses/src/api/mapping/course-subscriptions/events/index.ts
  apis/courses/src/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionOnLessonContentUpdated.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionOnLessonContentUpdated.spec.ts
Labels: Courses

[Courses] Mark subscriptions as uncompleted on lesson content updated (#94)
  apis/courses/src/api/mapping/course-subscriptions/events/index.ts
  apis/courses/src/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionOnLessonContentUpdated.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionOnLessonContentUpdated.spec.ts
Labels: Courses

fix: course lessons list view
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/hooks/course/useCourseLessons.ts
  apps/web/src/hooks/course/useSubscribedCourseLessons.ts
Labels: Web

fix: course lessons list view (#95)
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/hooks/course/useCourseLessons.ts
  apps/web/src/hooks/course/useSubscribedCourseLessons.ts
Labels: Web

feat: added completed flag to subscription info response
  apis/courses/src/api/controllers/course-subscriptions/GetCourseSubscriptionByUserAndCourseController.ts
  packages/commons/src/contracts/course-subscriptions/CourseSubscriptionContracts.ts
Labels: Auth, Courses, Profiles, Web

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*
