Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

fix: added reorder lessons event handler to eventBus and fixed naming on tests
  apis/courses/src/api/mapping/lessons/events/index.ts
  apis/courses/test/unit/contexts/lessons/application/events/ReorderLessonsOnLessonDeleted.spec.ts
Labels: Courses

wip: dashboard for subscribed courses
  apps/web/src/components/courses/subscribed/CourseCard.tsx
  apps/web/src/components/courses/subscribed/CoursesList.tsx
  apps/web/src/contexts/courses/application/GetSubscribedCourses.ts
  apps/web/src/hooks/course/useSubscribedCourses.ts
  apps/web/src/pages/api/courses/subscribed.ts
  apps/web/src/pages/dashboard/index.tsx
Labels: Web

feat: adapted
  apis/courses/src/api/controllers/courses/GetMySubscribedCoursesController.ts
  apis/courses/src/contexts/courses/application/queries/GetMySubscribedCourses.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
Labels: Courses

feat: implemented course searcher for subscribed courses dashboard
  apps/web/src/contexts/courses/application/GetSubscribedCourses.ts
  apps/web/src/hooks/course/useSubscribedCourses.ts
  apps/web/src/pages/api/courses/subscribed.ts
  apps/web/src/pages/dashboard/index.tsx
Labels: Web

test: covered changes on tests
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
  apis/courses/test/unit/contexts/courses/application/queries/GetMySubscribedCourses.spec.ts
Labels: Courses

[Courses] My subscribed courses dashboard (#82)
  apis/courses/src/api/controllers/courses/GetMySubscribedCoursesController.ts
  apis/courses/src/contexts/courses/application/queries/GetMySubscribedCourses.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
  apis/courses/test/unit/contexts/courses/application/queries/GetMySubscribedCourses.spec.ts
  apps/web/src/components/courses/subscribed/CourseCard.tsx
  apps/web/src/components/courses/subscribed/CoursesList.tsx
  apps/web/src/contexts/courses/application/GetSubscribedCourses.ts
  apps/web/src/hooks/course/useSubscribedCourses.ts
  apps/web/src/pages/api/courses/subscribed.ts
  apps/web/src/pages/dashboard/index.tsx
Labels: Courses, Web

wip: course main view
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/pages/course/[courseId]/index.tsx
Labels: Web

feat: now on subscribing to a course user is redirected to course main view
  apps/web/src/components/courses/CourseContentPreview.tsx
Labels: Web

feat: added completed lessons field on courseSubscriptions
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionData.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchemaFactory.ts
Labels: Courses

feat: get course subscription by user and course usecase
  apis/courses/src/api/controllers/course-subscriptions/GetCourseSubscriptionByUserAndCourseController.ts
  apis/courses/src/contexts/course-subscriptions/application/queries/GetCourseSubscriptionByUserAndCourse.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/CourseSubscriptionNotFoundError.ts
Labels: Courses

fix: correct naming on usecasew
  apis/courses/src/contexts/course-subscriptions/application/queries/GetCourseSubscriptionByUserAndCourse.ts
Labels: Courses

test: covered usecase
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/queries/GetCourseSubscriptionByUserAndCourse.spec.ts
Labels: Courses

feat: endpoint for get course subscription by course and user done
  apis/courses/src/api/controllers/course-subscriptions/GetCourseSubscriptionByUserAndCourseController.ts
  apis/courses/src/api/mapping/course-subscriptions/queries/index.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  packages/commons/src/contracts/course-subscriptions/CourseSubscriptionContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: moved check endpoint to /check
  apis/courses/src/api/controllers/course-subscriptions/CheckIfUserIsSubscribedToCourseController.ts
  apis/courses/test/e2e/course-subscriptions/CheckIfUserIsSubscribedToCourse.spec.ts
  apps/web/src/contexts/course-subscription/application/CheckIfUserIsSubscribedToCourse.ts
  apps/web/src/pages/api/course-subscription/[courseId]/check.ts
Labels: Courses, Web

test: covered endpoint
  apis/courses/test/e2e/course-subscriptions/GetCourseSubscriptionByUserAndCourse.spec.ts
Labels: Courses

feat: showing if user has already completed lessons on course view
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/contexts/course-subscription/application/GetOwnedCourseSubscriptionByCourseId.ts
  apps/web/src/hooks/course/useOwnedCourseSubscriptionByCourseId.ts
  apps/web/src/pages/api/course-subscription/[courseId]/index.ts
Labels: Web

changes: some changes and last touchs
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
Labels: Web

[Courses] Course content main view (#83)
  apis/courses/src/api/controllers/course-subscriptions/CheckIfUserIsSubscribedToCourseController.ts
  apis/courses/src/api/controllers/course-subscriptions/GetCourseSubscriptionByUserAndCourseController.ts
  apis/courses/src/api/mapping/course-subscriptions/queries/index.ts
  apis/courses/src/contexts/course-subscriptions/application/queries/GetCourseSubscriptionByUserAndCourse.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/CourseSubscriptionNotFoundError.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionData.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchemaFactory.ts
  apis/courses/test/e2e/course-subscriptions/GetCourseSubscriptionByUserAndCourse.spec.ts
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/queries/GetCourseSubscriptionByUserAndCourse.spec.ts
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/contexts/course-subscription/application/CheckIfUserIsSubscribedToCourse.ts
  apps/web/src/contexts/course-subscription/application/GetOwnedCourseSubscriptionByCourseId.ts
  apps/web/src/hooks/course/useOwnedCourseSubscriptionByCourseId.ts
  apps/web/src/pages/api/course-subscription/[courseId]/check.ts
  apps/web/src/pages/course/[courseId]/index.tsx
  packages/commons/src/contracts/course-subscriptions/CourseSubscriptionContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: remove course subscription usecase
  apis/courses/src/contexts/course-subscriptions/application/commands/DeleteCourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/CourseSubscriptionNotFoundError.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/CourseSubscriptionWasDeleted.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
Labels: Courses

test: covered usecase
  apis/courses/test/unit/contexts/course-subscriptions/application/commands/DeleteCourseSubscription.spec.ts
Labels: Courses

changes: now asserting that subscription belongs to user
  apis/courses/src/contexts/course-subscriptions/application/commands/DeleteCourseSubscription.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/commands/DeleteCourseSubscription.spec.ts
Labels: Courses

feat: added endpoint for deleting course subscription
  apis/courses/src/api/controllers/course-subscriptions/DeleteCourseSubscriptionController.ts
  apis/courses/src/api/mapping/course-subscriptions/commands/index.ts
Labels: Courses

fix: some fixes
  apis/courses/src/api/controllers/course-subscriptions/DeleteCourseSubscriptionController.ts
  apis/courses/src/contexts/course-subscriptions/application/commands/DeleteCourseSubscription.ts
Labels: Courses

test: covered endpoint
  apis/courses/test/e2e/course-subscriptions/DeleteCourseSubscription.spec.ts
Labels: Courses

fix: added errocode for course subscription not found
  apis/courses/src/contexts/course-subscriptions/domain/errors/CourseSubscriptionNotFoundError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

[Courses - API] Delete course subscriptions endpoint (#84)
  apis/courses/src/api/controllers/course-subscriptions/DeleteCourseSubscriptionController.ts
  apis/courses/src/api/mapping/course-subscriptions/commands/index.ts
  apis/courses/src/contexts/course-subscriptions/application/commands/DeleteCourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/CourseSubscriptionNotFoundError.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/CourseSubscriptionWasDeleted.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
  apis/courses/test/e2e/course-subscriptions/DeleteCourseSubscription.spec.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/commands/DeleteCourseSubscription.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: now buttons can apply extra classes
  packages/ui/components/interactivity/cta/button/index.tsx
Labels: Web, Storybook

wip: let give up a course
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/contexts/course-subscription/application/DeleteOwnedCourseSubscription.ts
  apps/web/src/pages/api/course-subscription/[courseId]/index.ts
Labels: Web

feat: refactor endpoint routes to clarify when its by course Id and when by subscription Id
  apis/courses/src/api/controllers/course-subscriptions/CheckIfUserIsSubscribedToCourseController.ts
  apis/courses/src/api/controllers/course-subscriptions/GetCourseSubscriptionByUserAndCourseController.ts
  apps/web/src/contexts/course-subscription/application/CheckIfUserIsSubscribedToCourse.ts
  apps/web/src/contexts/course-subscription/application/GetOwnedCourseSubscriptionByCourseId.ts
  apps/web/src/pages/api/course-subscription/[id]/index.ts
  apps/web/src/pages/api/course-subscription/by-course/[courseId]/check.ts
  apps/web/src/pages/api/course-subscription/by-course/[courseId]/index.ts
Labels: Courses, Web

feat: now modal stay static on scroll
  packages/ui/components/modal/modal.module.scss
Labels: Web, Storybook

feat: added confirmation modal on giving up a course
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
Labels: Web

fix: return type on deleteOwnedCourseSubscription usecase on web
  apps/web/src/contexts/course-subscription/application/DeleteOwnedCourseSubscription.ts
Labels: Web

fix: updated route on test
  apis/courses/test/e2e/course-subscriptions/CheckIfUserIsSubscribedToCourse.spec.ts
  apis/courses/test/e2e/course-subscriptions/GetCourseSubscriptionByUserAndCourse.spec.ts
Labels: Courses

[Courses] Let user give up a course (#85)
  apis/courses/src/api/controllers/course-subscriptions/CheckIfUserIsSubscribedToCourseController.ts
  apis/courses/src/api/controllers/course-subscriptions/GetCourseSubscriptionByUserAndCourseController.ts
  apis/courses/test/e2e/course-subscriptions/CheckIfUserIsSubscribedToCourse.spec.ts
  apis/courses/test/e2e/course-subscriptions/GetCourseSubscriptionByUserAndCourse.spec.ts
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/contexts/course-subscription/application/CheckIfUserIsSubscribedToCourse.ts
  apps/web/src/contexts/course-subscription/application/DeleteOwnedCourseSubscription.ts
  apps/web/src/contexts/course-subscription/application/GetOwnedCourseSubscriptionByCourseId.ts
  apps/web/src/pages/api/course-subscription/[id]/index.ts
  apps/web/src/pages/api/course-subscription/by-course/[courseId]/check.ts
  apps/web/src/pages/api/course-subscription/by-course/[courseId]/index.ts
  packages/ui/components/interactivity/cta/button/index.tsx
  packages/ui/components/modal/modal.module.scss
Labels: Courses, Web, Storybook

feat: view lesson
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/components/courses/subscribed/lessons/LessonContentView.tsx
  apps/web/src/pages/course/[courseId]/lesson/[lessonId]/index.tsx
Labels: Web

feat: if lesson is already completed, disable mark as completed button
  apps/web/src/components/courses/subscribed/lessons/LessonContentView.tsx
Labels: Web

[Courses] View lesson content view (#86)
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/components/courses/subscribed/lessons/LessonContentView.tsx
  apps/web/src/pages/course/[courseId]/lesson/[lessonId]/index.tsx
Labels: Web

feat: mark lesson as completed usecase
  apis/courses/src/contexts/course-subscriptions/application/commands/MarkLessonAsCompleted.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/UnableToCompleteLessonError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: implemented update method on mongo repository
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
Labels: Courses

test: covered usecase
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/commands/MarkLessonAsCompleted.spec.ts
Labels: Courses

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*
