Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

fix: added await to repo updating
  apis/courses/src/contexts/course-subscriptions/application/commands/MarkLessonAsCompleted.ts
Labels: Courses

feat: add visual mark to completed courses
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CompletedMark.tsx
  apps/web/src/components/courses/subscribed/CourseCard.tsx
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
Labels: Web

[Courses] Add completed mark to subscribed courses (#96)
  apis/courses/src/api/controllers/course-subscriptions/GetCourseSubscriptionByUserAndCourseController.ts
  apis/courses/src/contexts/course-subscriptions/application/commands/MarkLessonAsCompleted.ts
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CompletedMark.tsx
  apps/web/src/components/courses/subscribed/CourseCard.tsx
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  packages/commons/src/contracts/course-subscriptions/CourseSubscriptionContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: made completed mark a link and added wip pdf page
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CompletedMark.tsx
  apps/web/src/components/courses/subscribed/CourseCard.tsx
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/pages/pdf/[courseId]/index.tsx
Labels: Web

deps: added @react-pdf/renderer to web
  apps/web/package.json
  yarn.lock
Labels: Web

feat: downloable certificate as pdf
  apps/web/public/assets/wave-bottom.svg
  apps/web/public/assets/wave-top.svg
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CompletedMark.tsx
  apps/web/src/components/pdf/completed-course-certificate.tsx
  apps/web/src/components/pdf/pdf.module.scss
  apps/web/src/pages/pdf/[courseId]/index.tsx
Labels: Web

[Courses] Generate PDF certification for completed courses (#97)
  apps/web/package.json
  apps/web/public/assets/wave-bottom.svg
  apps/web/public/assets/wave-top.svg
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/components/courses/subscribed/CompletedMark.tsx
  apps/web/src/components/courses/subscribed/CourseCard.tsx
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  apps/web/src/components/pdf/completed-course-certificate.tsx
  apps/web/src/components/pdf/pdf.module.scss
  yarn.lock
Labels: Web

feat: using github login nickname instead of user nickname
  apis/auth/src/api/controllers/auth/GithubOAuthController.ts
Labels: Auth

feat: update user nickname if user changes github nickname
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithGithubCredentials.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserRepository.ts
  apis/auth/src/contexts/users/domain/errors/InvalidCredentials.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/MongoUserRepository.ts
Labels: Auth

feat: added update method to inmemory repo
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
Labels: Auth

feat: user info endpoint
  apis/auth/src/api/controllers/user/GetUserInfoController.ts
  packages/commons/src/contracts/user/GetUserContracts.ts
Labels: Auth, Courses, Profiles, Web

[Auth] Rework GitHub credentials (#98)
  apis/auth/src/api/controllers/auth/GithubOAuthController.ts
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithGithubCredentials.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserRepository.ts
  apis/auth/src/contexts/users/domain/errors/InvalidCredentials.ts
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/MongoUserRepository.ts
Labels: Auth

feat: user info endpoint (#99)
  apis/auth/src/api/controllers/user/GetUserInfoController.ts
  packages/commons/src/contracts/user/GetUserContracts.ts
Labels: Auth, Courses, Profiles, Web

fix: fixed get user nickname routing on web
  apps/web/src/contexts/users/application/getUserNicknameById.ts
  apps/web/src/pages/api/user/[id]/nickname.ts
Labels: Web

feat: endpoint web for getting user info
  apps/web/src/contexts/users/application/getUserInfoById.ts
  apps/web/src/hooks/user/useUserInfo.ts
  apps/web/src/pages/api/user/[id]/index.ts
Labels: Web

fix: fixed height bug on buttons
  packages/ui/components/interactivity/cta/button/button.module.scss
Labels: Web, Storybook

feat: utility for formating dates
  apps/web/src/utils/formatDate.ts
Labels: Web

feat: profile view (not functional yet)
  apps/web/src/components/profile/user.module.scss
  apps/web/src/components/profile/userView.tsx
  apps/web/src/pages/profile/index.tsx
Labels: Web

[Users] Profile view (Only View - Not editable) (#100)
  apps/web/src/components/profile/user.module.scss
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/users/application/getUserInfoById.ts
  apps/web/src/contexts/users/application/getUserNicknameById.ts
  apps/web/src/hooks/user/useUserInfo.ts
  apps/web/src/pages/api/user/[id]/nickname.ts
  apps/web/src/pages/profile/index.tsx
  apps/web/src/utils/formatDate.ts
  packages/ui/components/interactivity/cta/button/button.module.scss
Labels: Web, Storybook

chore: using spaces instead of slashes on date formaat
  apps/web/src/utils/formatDate.ts
Labels: Web

feat: formating date on published date
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

[Courses] Format course publish date (#101)
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/utils/formatDate.ts
Labels: Web

remove: unused code on header (sublinks and settings)
  apps/web/src/components/header/header.tsx
Labels: Web

remove: unused code on header (sublinks and settings) (#102)
  apps/web/src/components/header/header.tsx
Labels: Web

feat: usecase
  apis/auth/src/contexts/users/application/commands/RenameUser.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/errors/UnableToRenameUser.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

dep: added jest-mock-extended for auth tests
  apis/auth/package.json
  yarn.lock
Labels: Auth

refactor: reworked user builder
  apis/auth/test/e2e/auth/SignInController.spec.ts
  apis/auth/test/e2e/auth/SignUpController.spec.ts
  apis/auth/test/helpers/builders/user/UserBuilder.ts
  apis/auth/test/integration/user/MongoUserRepository.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithBasicCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGoogleCredentials.spec.ts
Labels: Auth

fix: domain tests affected by builder
  apis/auth/test/unit/contexts/user/domain/User.spec.ts
  apis/auth/test/unit/contexts/user/domain/services/UserFinder.spec.ts
Labels: Auth

test: covered usecase
  apis/auth/test/unit/contexts/user/application/commands/RenameUser.spec.ts
Labels: Auth

feat: rename user controller
  apis/auth/src/api/controllers/user/RenameUserController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
Labels: Auth

[User] Rename user endpoint (#103)
  apis/auth/package.json
  apis/auth/src/api/controllers/user/RenameUserController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
  apis/auth/src/contexts/users/application/commands/RenameUser.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/errors/UnableToRenameUser.ts
  apis/auth/test/e2e/auth/SignInController.spec.ts
  apis/auth/test/e2e/auth/SignUpController.spec.ts
  apis/auth/test/helpers/builders/user/UserBuilder.ts
  apis/auth/test/integration/user/MongoUserRepository.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/commands/RenameUser.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithBasicCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGithubCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGoogleCredentials.spec.ts
  apis/auth/test/unit/contexts/user/domain/User.spec.ts
  apis/auth/test/unit/contexts/user/domain/services/UserFinder.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
  yarn.lock
Labels: Auth, Courses, Profiles, Web

feat: added rename user contracts
  apis/auth/src/api/controllers/user/RenameUserController.ts
  packages/commons/src/contracts/user/RenameUserContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: web endpoint for renaming user
  apps/web/src/contexts/shared/infrastructure/ApiClients/AuthApiService.ts
  apps/web/src/contexts/users/application/RenameUser.ts
  apps/web/src/pages/api/user/nickname.ts
Labels: Web

fix: endpoint on auth was not authorized
  apis/auth/src/api/controllers/user/RenameUserController.ts
Labels: Auth

feat: added update nickname modal
  apps/web/src/components/profile/changeNicknameModal.tsx
  apps/web/src/components/profile/user.module.scss
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/users/application/RenameUser.ts
Labels: Web

fix: correct placeholder for input
  apps/web/src/components/profile/changeNicknameModal.tsx
Labels: Web

fix: no lauching request if nickname is empty
  apps/web/src/components/profile/changeNicknameModal.tsx
Labels: Web

[Users] Rename user web (#104)
  apis/auth/src/api/controllers/user/RenameUserController.ts
  apps/web/src/components/profile/changeNicknameModal.tsx
  apps/web/src/components/profile/user.module.scss
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/shared/infrastructure/ApiClients/AuthApiService.ts
  apps/web/src/contexts/users/application/RenameUser.ts
  apps/web/src/pages/api/user/nickname.ts
  packages/commons/src/contracts/user/RenameUserContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: api usecase
  apis/auth/src/contexts/users/application/commands/ChangeEmail.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserBasicCredentials.ts
  apis/auth/src/contexts/users/domain/errors/UnableToChangeEmail.ts
  apis/auth/test/unit/contexts/user/application/commands/ChangeEmail.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: endpoint for changing email
  apis/auth/src/api/controllers/user/ChangeEmailController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
  packages/commons/src/contracts/user/ChangeEmailContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web
