Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

feat: enable change email from profile view
  apps/web/src/components/profile/changeEmailModal.tsx
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/users/application/ChangeEmail.ts
  apps/web/src/pages/api/user/email.ts
Labels: Web

[Users] Change Email (#105)
  apis/auth/src/api/controllers/user/ChangeEmailController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
  apis/auth/src/contexts/users/application/commands/ChangeEmail.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserBasicCredentials.ts
  apis/auth/src/contexts/users/domain/errors/UnableToChangeEmail.ts
  apis/auth/test/unit/contexts/user/application/commands/ChangeEmail.spec.ts
  apps/web/src/components/profile/changeEmailModal.tsx
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/users/application/ChangeEmail.ts
  apps/web/src/pages/api/user/email.ts
  packages/commons/src/contracts/user/ChangeEmailContracts.ts
  packages/commons/src/errors/ErrorCodes.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: api usecase
  apis/auth/src/contexts/users/application/commands/ChangePassword.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserBasicCredentials.ts
  apis/auth/src/contexts/users/domain/errors/InvalidCredentials.ts
  apis/auth/src/contexts/users/domain/errors/UnableToChangePassword.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

test: covered usecase
  apis/auth/test/unit/contexts/user/application/commands/ChangePassword.spec.ts
Labels: Auth

feat: change password endpoint
  apis/auth/src/api/controllers/user/ChangePasswordController.ts
  packages/commons/src/contracts/user/ChangePasswordContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

fix: registered command
  apis/auth/src/api/mapping/user/commands/index.ts
Labels: Auth

feat: enabled change password from profile view
  apps/web/src/components/profile/changePasswordModal.tsx
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/users/application/ChangePassword.ts
  apps/web/src/pages/api/user/password.ts
Labels: Web

[Users] Change password (#106)
  apis/auth/src/api/controllers/user/ChangePasswordController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
  apis/auth/src/contexts/users/application/commands/ChangePassword.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserBasicCredentials.ts
  apis/auth/src/contexts/users/domain/errors/InvalidCredentials.ts
  apis/auth/src/contexts/users/domain/errors/UnableToChangePassword.ts
  apis/auth/test/unit/contexts/user/application/commands/ChangePassword.spec.ts
  apps/web/src/components/profile/changePasswordModal.tsx
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/users/application/ChangePassword.ts
  apps/web/src/pages/api/user/password.ts
  packages/commons/src/contracts/user/ChangePasswordContracts.ts
  packages/commons/src/errors/ErrorCodes.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: usecase on api
  apis/auth/src/contexts/users/application/commands/DeleteUser.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserRepository.ts
  apis/auth/src/contexts/users/domain/events/UserWasDeleted.ts
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/MongoUserRepository.ts
Labels: Auth

test: covered usecase
  apis/auth/test/unit/contexts/user/application/commands/DeleteUser.spec.ts
Labels: Auth

feat: added endpoint and fixed execute function names on user endpoints
  apis/auth/src/api/controllers/user/ChangeEmailController.ts
  apis/auth/src/api/controllers/user/ChangePasswordController.ts
  apis/auth/src/api/controllers/user/DeleteUserController.ts
  apis/auth/src/api/controllers/user/GetUserInfoController.ts
  apis/auth/src/api/controllers/user/GetUserNicknameController.ts
  apis/auth/src/api/controllers/user/RenameUserController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
Labels: Auth

fix: fixed path for deleting account endpoint
  apis/auth/src/api/controllers/user/DeleteUserController.ts
Labels: Auth

fix: injecting commandBus not queryBus
  apis/auth/src/api/controllers/user/DeleteUserController.ts
Labels: Auth

feat: enabled delete account from frontend
  apps/web/src/components/profile/deleteAccountModal.tsx
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/shared/infrastructure/ApiClients/AuthApiService.ts
  apps/web/src/contexts/users/application/DeleteAccount.ts
  apps/web/src/pages/api/user/delete-account.ts
Labels: Web

feat: changed field completed for completedAt
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionData.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchemaFactory.ts
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/MarkCourseSubscriptionAsNonCompletedOnLessonCreated.spec.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/UpdateCourseSubscriptionOnLessonContentUpdated.spec.ts
Labels: Courses

[Users] Delete Account (#107)
  apis/auth/src/api/controllers/user/ChangeEmailController.ts
  apis/auth/src/api/controllers/user/ChangePasswordController.ts
  apis/auth/src/api/controllers/user/DeleteUserController.ts
  apis/auth/src/api/controllers/user/GetUserInfoController.ts
  apis/auth/src/api/controllers/user/GetUserNicknameController.ts
  apis/auth/src/api/controllers/user/RenameUserController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
  apis/auth/src/contexts/users/application/commands/DeleteUser.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserRepository.ts
  apis/auth/src/contexts/users/domain/events/UserWasDeleted.ts
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/MongoUserRepository.ts
  apis/auth/test/unit/contexts/user/application/commands/DeleteUser.spec.ts
  apps/web/src/components/profile/deleteAccountModal.tsx
  apps/web/src/components/profile/userView.tsx
  apps/web/src/contexts/shared/infrastructure/ApiClients/AuthApiService.ts
  apps/web/src/contexts/users/application/DeleteAccount.ts
  apps/web/src/pages/api/user/delete-account.ts
Labels: Auth, Web

feat: using completedAt instead of completed
  apis/courses/src/api/controllers/course-subscriptions/GetCourseSubscriptionByUserAndCourseController.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apps/web/src/components/courses/subscribed/CourseCard.tsx
  apps/web/src/components/courses/subscribed/CourseContentView.tsx
  packages/commons/src/contracts/course-subscriptions/CourseSubscriptionContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: correct date on pdf certificate
  apps/web/src/components/pdf/completed-course-certificate.tsx
Labels: Web
