Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

feat: added controller
  apis/courses/src/api/controllers/courses/UnpublishCourseController.ts
Labels: Courses

feat: web endpoint
  apps/web/src/pages/api/course/[id]/unpublish.tsx
Labels: Web

wip: disabled events
  apis/courses/src/api/mapping/lessons/index.ts
Labels: Courses

feat: connected frontend with usecase
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/contexts/courses/application/UnpublishCourse.ts
Labels: Web

[Courses] Unpublish course (#58)
  apis/courses/src/api/controllers/courses/UnpublishCourseController.ts
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/api/mapping/lessons/index.ts
  apis/courses/src/contexts/courses/application/commands/UnpublishCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/errors/NotAbleToPublishCourseError.ts
  apis/courses/src/contexts/courses/domain/errors/NotAbleToUnpublishCourseError.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasUnpublished.ts
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/contexts/courses/application/UnpublishCourse.ts
  apps/web/src/pages/api/course/[id]/unpublish.tsx
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

fix: event names were types not values :facepalm:
  apis/auth/src/contexts/users/domain/events/UserWasCreated.ts
  apis/courses/src/api/mapping/lessons/index.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasCreated.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasPublished.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasRenamed.ts
  apis/courses/src/contexts/lessons/domain/events/LessonContentWasUpdated.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasCreated.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasDeleted.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasRenamed.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasReordered.ts
Labels: Auth, Courses

feat: some tweaks to creator panel course searcher criteria
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoCriteriaConverter.ts
Labels: Courses

fix: with's type on getMyCourses
  apis/courses/src/contexts/courses/application/queries/GetMyCoursesPaginated.ts
Labels: Courses

chore: renamed method for authored paginated courses
  apis/courses/src/contexts/courses/application/queries/GetMyCoursesPaginated.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
Labels: Courses

feat: added exists filter on criteria
  apis/courses/src/contexts/shared/domain/criteria/Filter.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterOperator.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterValue.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoCriteriaConverter.ts
Labels: Courses

feat: added usecase
  apis/courses/src/contexts/courses/application/queries/GetPublishedCoursesPaginated.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
Labels: Courses

feat: mapped usecase
  apis/courses/src/api/mapping/courses/queries/index.ts
Labels: Courses

remove: unused return
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
Labels: Courses

feat: added controller for usecase
  apis/courses/src/api/controllers/courses/GetPublishedCoursesPaginatedController.ts
Labels: Courses

fix: made tags not required
  apis/courses/src/api/controllers/courses/GetPublishedCoursesPaginatedController.ts
Labels: Courses

fix: exists criteria
  apis/courses/src/contexts/shared/domain/criteria/FilterOperator.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoCriteriaConverter.ts
Labels: Courses

feat: added authorId to courseInfoResponse
  apis/courses/src/api/controllers/courses/GetCourseByIdController.ts
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/api/controllers/courses/GetPublishedCoursesPaginatedController.ts
  packages/commons/src/contracts/courses/CourseContracts.ts
Labels: Auth, Courses, Profiles, Web

refactor: web /api/courses endpoint using switch now
  apps/web/src/pages/api/courses/index.ts
Labels: Web

feat: web endpoint to get published courses
  apps/web/src/pages/api/courses/index.ts
Labels: Web

fix: removed Authorized decorator on unauthorized endpoint
  apis/courses/src/api/controllers/courses/GetPublishedCoursesPaginatedController.ts
Labels: Courses

wip: working on course list
  apps/web/src/components/courses/CourseCard.tsx
  apps/web/src/components/courses/CoursesList.tsx
  apps/web/src/contexts/courses/application/GetPublishedCoursesPaginated.ts
  apps/web/src/pages/courses/index.tsx
Labels: Web

feat: added endpoint for get user nickname
  apis/auth/src/api/controllers/user/GetUserNicknameController.ts
  packages/commons/src/contracts/user/GetUserContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: all courses view
  apps/web/src/components/courses/CourseCard.tsx
  apps/web/src/components/courses/CoursesList.tsx
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/contexts/users/application/getUserNicknameById.ts
  apps/web/src/pages/api/user/[id]/index.ts
Labels: Web

[Courses] All Courses Section (#59)
  apis/auth/src/api/controllers/user/GetUserNicknameController.ts
  apis/courses/src/api/controllers/courses/GetCourseByIdController.ts
  apis/courses/src/api/controllers/courses/GetPublishedCoursesPaginatedController.ts
  apis/courses/src/api/mapping/courses/queries/index.ts
  apis/courses/src/contexts/courses/application/queries/GetPublishedCoursesPaginated.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
  apis/courses/src/contexts/shared/domain/criteria/Filter.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterOperator.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterValue.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoCriteriaConverter.ts
  apps/web/src/components/courses/CourseCard.tsx
  apps/web/src/components/courses/CoursesList.tsx
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/contexts/courses/application/GetPublishedCoursesPaginated.ts
  apps/web/src/contexts/users/application/getUserNicknameById.ts
  apps/web/src/pages/api/courses/index.ts
  apps/web/src/pages/api/user/[id]/index.ts
  apps/web/src/pages/courses/index.tsx
  packages/commons/src/contracts/courses/CourseContracts.ts
  packages/commons/src/contracts/user/GetUserContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: added landing page for courses
  apps/web/src/components/courses/CourseCard.tsx
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/pages/course/[courseId]/landing.tsx
Labels: Web

feat: added landing page for courses (#60)
  apps/web/src/components/courses/CourseCard.tsx
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/pages/course/[courseId]/landing.tsx
Labels: Web

feat: a course title should not be longer than 64 characters
  apis/courses/src/contexts/courses/domain/CourseTitle.ts
  packages/commons/src/business/courses/isCourseTitleValid.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: rename constant
  packages/commons/src/business/courses/isCourseTitleValid.ts
Labels: Auth, Courses, Profiles, Web

feat: added max 3 tags per course rule
  apis/courses/src/contexts/courses/domain/CourseTags.ts
  packages/commons/src/business/courses/validateCourseTagsBusinessRules.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: implement rules on new course form
  apps/web/src/components/creator/course/newCourseForm.tsx
Labels: Web

feat: lesson title should not be longer than 64 characters
  apis/courses/src/contexts/lessons/domain/LessonTitle.ts
  packages/commons/src/business/courses/isLessonTitleValid.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

fix: were using lessonTitle value object on use-cases for some reason
  apis/courses/src/contexts/lessons/application/commands/CreateNewLesson.ts
  apis/courses/src/contexts/lessons/application/commands/UpdateLesson.ts
Labels: Courses

feat: implement rules on new lesson form
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
Labels: Web

feat: added lesson title rule to edit form
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
Labels: Web

fix: removed console log
  apis/courses/src/contexts/lessons/application/queries/GetLessonsByCourse.ts
Labels: Courses

feat: added course rules to edit course properties modals
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

refactor: error message component instead of styled span everywhere
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/components/creator/course/newCourseForm.tsx
  apps/web/src/components/creator/course/preview.tsx
  packages/ui/components/error/ErrorMessage.tsx
Labels: Web, Storybook

[Courses] Implementing restrictions for course properties (#61)
  apis/courses/src/contexts/courses/domain/CourseTags.ts
  apis/courses/src/contexts/courses/domain/CourseTitle.ts
  apis/courses/src/contexts/lessons/application/commands/CreateNewLesson.ts
  apis/courses/src/contexts/lessons/application/commands/UpdateLesson.ts
  apis/courses/src/contexts/lessons/application/queries/GetLessonsByCourse.ts
  apis/courses/src/contexts/lessons/domain/LessonTitle.ts
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/components/creator/course/newCourseForm.tsx
  apps/web/src/components/creator/course/preview.tsx
  packages/commons/src/business/courses/isCourseTitleValid.ts
  packages/commons/src/business/courses/isLessonTitleValid.ts
  packages/commons/src/business/courses/validateCourseTagsBusinessRules.ts
  packages/commons/src/index.ts
  packages/ui/components/error/ErrorMessage.tsx
Labels: Auth, Courses, Profiles, Web, Storybook

feat: useCurrentUser
  apps/web/src/components/header/header.tsx
  apps/web/src/hooks/user/useCurrentUser.ts
  apps/web/src/lib/cookieUtils.ts
Labels: Web

remove: unused old page
  apps/web/src/pages/creator/course/edit/[id].tsx
Labels: Web
