Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

fix: route not found middleware on profiles module
  apis/profiles/src/api/middlewares/after/RouteNotFound.ts
Labels: Profiles

ci: added commons to profiles workflow
  .github/workflows/qa.yml
Labels: none

ci: added tests step for courseQA
  .github/workflows/qa.yml
  apis/courses/package.json
  package.json
Labels: Courses

ci: added courses tests step for qaMaster
  .github/workflows/qa_master.yml
Labels: none

deps: added supertest types to courses
  apis/courses/package.json
  yarn.lock
Labels: Courses

test: covering publish course endpoint
  apis/courses/test/e2e/courses/PublishCourse.spec.ts
Labels: Courses

dep: added types for dotenv
  apis/courses/package.json
  yarn.lock
Labels: Courses

test: covering unpublish course endpoint
  apis/courses/test/e2e/courses/UnpublishCourse.spec.ts
Labels: Courses

fix: setting a default jwt secret for testing
  apis/courses/src/api/config/env.ts
Labels: Courses

test: added testcase for updating course endpoints
  apis/courses/src/api/controllers/courses/RenameCourseController.ts
  apis/courses/src/api/controllers/courses/UpdateCourseDescriptionController.ts
  apis/courses/src/api/controllers/courses/UpdateCourseTagsController.ts
  apis/courses/test/e2e/courses/RenameCourse.spec.ts
  apis/courses/test/e2e/courses/UpdateCourseDescription.spec.ts
  apis/courses/test/e2e/courses/UpdateCourseTags.spec.ts
Labels: Courses

remove: deprecated update course usecase
  apis/courses/src/api/controllers/courses/UpdateCourseController.ts
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/contexts/courses/application/commands/UpdateCourse.ts
  apis/courses/test/unit/contexts/courses/application/commands/UpdateCourse.spec.ts
  apps/web/src/contexts/courses/application/UpdateCourse.ts
  apps/web/src/pages/api/course/[id]/index.tsx
  packages/commons/src/contracts/courses/UpdateCourseContracts.ts
Labels: Auth, Courses, Profiles, Web

ci: run qa workflow on check run (i suppose this will trigger with labeler check)
  .github/workflows/qa.yml
Labels: none

feat: example change on courses to see if it trigers
  apis/courses/src/index.ts
Labels: Courses

Revert "feat: example change on courses to see if it trigers"
  apis/courses/src/index.ts
Labels: Courses

feat: example change on courses to see if it trigers
  apis/courses/src/index.ts
Labels: Courses

ci: using labeler to trigger workflows
  .github/workflows/labels.yml
Labels: none

ci: on pull request
  .github/workflows/labels.yml
Labels: none

feat: added invalid lesson title error
  apis/courses/src/contexts/lessons/domain/LessonTitle.ts
  apis/courses/src/contexts/lessons/domain/errors/InvalidLessonTitleError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

test: added initial lesson builder
  apis/courses/test/helpers/builders/LessonBuilder.ts
Labels: Courses

test: covered create new lesson usecase
  apis/courses/test/unit/contexts/lessons/application/commands/CreateNewLesson.spec.ts
Labels: Courses

test: covered delete lesson usecase
  apis/courses/test/unit/contexts/lessons/application/commands/DeleteLesson.spec.ts
Labels: Courses

fix: typo
  apis/courses/test/unit/contexts/lessons/application/commands/DeleteLesson.spec.ts
Labels: Courses

test: covered reorder lesson up usecase
  apis/courses/test/helpers/builders/LessonBuilder.ts
  apis/courses/test/unit/contexts/lessons/application/commands/ReorderLessonUp.spec.ts
Labels: Courses

test: covered reorder lesson down usecase & fixes some typos
  apis/courses/test/unit/contexts/lessons/application/commands/DeleteLesson.spec.ts
  apis/courses/test/unit/contexts/lessons/application/commands/ReorderLessonDown.spec.ts
Labels: Courses

test: covered update lesson usecase
  apis/courses/test/unit/contexts/lessons/application/commands/UpdateLesson.spec.ts
Labels: Courses

test: covered lesson queries
  apis/courses/test/unit/contexts/lessons/application/queries/GetLessonByCourse.spec.ts
  apis/courses/test/unit/contexts/lessons/application/queries/GetLessonById.spec.ts
Labels: Courses

[Courses] Add unit tests for lesson context (#69)
  apis/courses/src/contexts/lessons/domain/LessonTitle.ts
  apis/courses/src/contexts/lessons/domain/errors/InvalidLessonTitleError.ts
  apis/courses/test/helpers/builders/LessonBuilder.ts
  apis/courses/test/unit/contexts/lessons/application/commands/CreateNewLesson.spec.ts
  apis/courses/test/unit/contexts/lessons/application/commands/DeleteLesson.spec.ts
  apis/courses/test/unit/contexts/lessons/application/commands/ReorderLessonDown.spec.ts
  apis/courses/test/unit/contexts/lessons/application/commands/ReorderLessonUp.spec.ts
  apis/courses/test/unit/contexts/lessons/application/commands/UpdateLesson.spec.ts
  apis/courses/test/unit/contexts/lessons/application/queries/GetLessonByCourse.spec.ts
  apis/courses/test/unit/contexts/lessons/application/queries/GetLessonById.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

chore: renamed all persisting helpers for courses
  apis/courses/test/e2e/courses/CreateNewCourse.spec.ts
  apis/courses/test/e2e/courses/GetCourseById.spec.ts
  apis/courses/test/e2e/courses/GetMyCoursesPaginated.spec.ts
  apis/courses/test/e2e/courses/GetPublishedCoursesPaginated.spec.ts
  apis/courses/test/e2e/courses/PublishCourse.spec.ts
  apis/courses/test/e2e/courses/RenameCourse.spec.ts
  apis/courses/test/e2e/courses/UnpublishCourse.spec.ts
  apis/courses/test/e2e/courses/UpdateCourseDescription.spec.ts
  apis/courses/test/e2e/courses/UpdateCourseTags.spec.ts
  apis/courses/test/helpers/persistance/mongo/courses.ts
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
Labels: Courses

chore: made jest silent
  apis/courses/jest.config.js
Labels: Courses

[Courses] chore: rename persisting helpers (#70)
  apis/courses/jest.config.js
  apis/courses/test/e2e/courses/CreateNewCourse.spec.ts
  apis/courses/test/e2e/courses/GetCourseById.spec.ts
  apis/courses/test/e2e/courses/GetMyCoursesPaginated.spec.ts
  apis/courses/test/e2e/courses/GetPublishedCoursesPaginated.spec.ts
  apis/courses/test/e2e/courses/PublishCourse.spec.ts
  apis/courses/test/e2e/courses/RenameCourse.spec.ts
  apis/courses/test/e2e/courses/UnpublishCourse.spec.ts
  apis/courses/test/e2e/courses/UpdateCourseDescription.spec.ts
  apis/courses/test/e2e/courses/UpdateCourseTags.spec.ts
  apis/courses/test/helpers/persistance/mongo/courses.ts
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
Labels: Courses

test: covered mongo lesson repository
  apis/courses/test/helpers/persistance/mongo/lessons.ts
  apis/courses/test/integration/lessons/MongoLessonRepository.spec.ts
Labels: Courses

test: covered mongo lesson repository (#71)
  apis/courses/test/helpers/persistance/mongo/lessons.ts
  apis/courses/test/integration/lessons/MongoLessonRepository.spec.ts
Labels: Courses

test: covered Create new lesson controller
  apis/courses/src/api/controllers/lesson/CreateNewLessonController.ts
  apis/courses/test/e2e/lesson/CreateNewLesson.spec.ts
  apis/courses/test/helpers/persistance/mongo/lessons.ts
Labels: Courses

fix: deleted unused import
  apis/courses/test/e2e/lesson/CreateNewLesson.spec.ts
Labels: Courses

test: covered delete lesson controller
  apis/courses/test/e2e/lesson/DeleteLesson.spec.ts
Labels: Courses

test: covered get lesson by idcontroller
  apis/courses/test/e2e/lesson/GetLessonById.spec.ts
Labels: Courses

test: covered get lessons by course id controller
  apis/courses/test/e2e/lesson/GetLessonsByCourseId.spec.ts
Labels: Courses

test: covered reorder lesson cntroller
  apis/courses/test/e2e/lesson/ReorderLesson.spec.ts
Labels: Courses

test: covered update lesson cntroller
  apis/courses/src/api/controllers/lesson/UpdateLessonController.ts
  apis/courses/test/e2e/lesson/UpdateLesson.spec.ts
Labels: Courses

[Courses] Add e2e lesson testcases (#72)
  apis/courses/src/api/controllers/lesson/CreateNewLessonController.ts
  apis/courses/src/api/controllers/lesson/UpdateLessonController.ts
  apis/courses/test/e2e/lesson/CreateNewLesson.spec.ts
  apis/courses/test/e2e/lesson/DeleteLesson.spec.ts
  apis/courses/test/e2e/lesson/GetLessonById.spec.ts
  apis/courses/test/e2e/lesson/GetLessonsByCourseId.spec.ts
  apis/courses/test/e2e/lesson/ReorderLesson.spec.ts
  apis/courses/test/e2e/lesson/UpdateLesson.spec.ts
  apis/courses/test/helpers/persistance/mongo/lessons.ts
Labels: Courses
