Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

wip: landing page with sign in form & sign up (not connected) (#14)
  apps/web/next.config.js
  apps/web/package.json
  apps/web/public/assets/particle1.svg
  apps/web/public/assets/particle2.svg
  apps/web/public/branding/isologo.svg
  apps/web/public/branding/isologodark.svg
  apps/web/public/branding/isotipo.svg
  apps/web/public/branding/isotipodark.svg
  apps/web/src/components/forms/signin/index.tsx
  apps/web/src/components/forms/singup/index.tsx
  apps/web/src/components/forms/singup/singup.module.scss
  apps/web/src/components/home/LogoBar/index.tsx
  apps/web/src/components/home/LogoBar/logobar.module.scss
  apps/web/src/pages/index.tsx
  apps/web/src/pages/singup.tsx
  apps/web/src/styles/Home.module.scss
  apps/web/src/styles/_colors.scss
  apps/web/src/styles/globals.scss
  packages/ui/components/interactivity/cta/button/index.tsx
  packages/ui/components/interactivity/form/index.tsx
  yarn.lock
Labels: Web, Storybook

feat: rework of error handling, updated commons
  packages/commons/src/contexts/shared/domain/ValueObject.ts
  packages/commons/src/contexts/shared/domain/errors/ApiError.ts
  packages/commons/src/contexts/shared/domain/errors/DomainError.ts
  packages/commons/src/contexts/shared/domain/errors/InvalidArgumentError.ts
  packages/commons/src/contexts/shared/domain/errors/UndefinedArgumentError.ts
  packages/commons/src/contexts/shared/domain/exceptions/Exception.ts
  packages/commons/src/contexts/shared/domain/exceptions/InvalidArgumentException.ts
  packages/commons/src/contexts/shared/domain/exceptions/UndefinedArgumentException.ts
  packages/commons/src/contexts/user/domain/Nickname.ts
  packages/commons/src/contexts/user/domain/errors/InvalidUserNicknameError.ts
  packages/commons/src/contexts/user/domain/exceptions/InvalidUserNickname.ts
  packages/commons/src/contracts/auth/SignUpContracts.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: none

refactor: errors, contracts & endpoint work
  apis/auth/src/api/controllers/index.ts
  apis/auth/src/api/controllers/shared/exceptions/BadRequestException.ts
  apis/auth/src/api/controllers/user/GetUserController.ts
  apis/auth/src/api/controllers/user/SignUpController.ts
  apis/auth/src/api/controllers/user/UserPostController.ts
  apis/auth/src/api/controllers/user/dtos/RegisterUserBody.ts
  apis/auth/src/api/middlewares/after/ErrorHandler.ts
  apis/auth/src/contexts/shared/domain/valueObjects/UUID.ts
  apis/auth/src/contexts/users/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.ts
  apis/auth/src/contexts/users/domain/errors/UserInvalid.ts
  apis/auth/src/contexts/users/domain/errors/UserNotFound.ts
  apis/auth/src/contexts/users/domain/exceptions/InvalidUserNickname.ts
  apis/auth/src/contexts/users/domain/exceptions/UserInvalid.ts
  apis/auth/src/contexts/users/domain/exceptions/UserNotFound.ts
  apis/auth/src/contexts/users/domain/services/UserFinder.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.spec.ts
Labels: Auth

wip: working on api clients, errors and connecting web with apis
  apps/web/package.json
  apps/web/src/contexts/shared/domain/errors/EnviromentVariableNotFoundError.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/AuthApiService.ts
  apps/web/src/lib/env.ts
  apps/web/src/pages/api/auth/signup.ts
  apps/web/tsconfig.json
Labels: Web

chore: updated yarn lock
  yarn.lock
Labels: none

feat: updated error handler on auth
  apis/auth/src/api/middlewares/after/ErrorHandler.ts
Labels: Auth

remove _id from credentials schema
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchema.ts
Labels: Auth

feat: added studio dependencies to web and working on ApiService error handling
  apps/web/package.json
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/tsconfig.json
  yarn.lock
Labels: Web

change: not using const for enum, next dont allow it :(
  packages/commons/src/errors/ErrorCodes.ts
Labels: none

feat: error handler for next api
  apps/web/src/lib/controllers/SafeControllerHandling.ts
  apps/web/src/pages/api/auth/signup.ts
Labels: Web

feat: GetUserContract and using error handler in singup endpoint
  apps/web/src/pages/api/auth/signup.ts
  packages/commons/src/contracts/user/GetUserContracts.ts
Labels: Web

feat: following contract in auth api
  apis/auth/src/api/controllers/user/GetUserController.ts
Labels: Auth

wip: querybus done and started GetUserByEmail usecase
  apis/auth/src/api/mapping/user/queries/index.ts
  apis/auth/src/contexts/shared/application/QueryHandler.ts
  apis/auth/src/contexts/shared/domain/QueryBus.ts
  apis/auth/src/contexts/shared/infrastructure/QueryBus/InMemoryQueryBus.ts
  apis/auth/src/contexts/users/application/queries/GetUser/GetUserByEmail.ts
Labels: Auth

feat: GetUserByEmail flow done
  apis/auth/src/api/controllers/user/GetUserController.ts
  apis/auth/src/api/mapping/user/index.ts
  apis/auth/src/api/mapping/user/queries/index.ts
  apis/auth/src/contexts/users/application/queries/GetUser/GetUserByEmail.ts
  apis/auth/src/contexts/users/domain/errors/UserNotFound.ts
  apis/auth/src/contexts/users/domain/services/UserFinder.ts
Labels: Auth

feat: authorization with api with jwt singup done
  apis/auth/package.json
  apis/auth/src/api/auth/authUser.ts
  apis/auth/src/api/auth/authorizationChecker.ts
  apis/auth/src/api/auth/currentUserChecker.ts
  apis/auth/src/api/auth/index.ts
  apis/auth/src/api/auth/signJwt.ts
  apis/auth/src/api/auth/strategies/JwtStrategy.ts
  apis/auth/src/api/config/env.ts
  apis/auth/src/api/controllers/auth/CurrentUserController.ts
  apis/auth/src/api/controllers/auth/SignUpController.ts
  apis/auth/src/api/controllers/index.ts
  apis/auth/src/api/controllers/user/GetUserController.ts
  apis/auth/src/api/controllers/user/SignUpController.ts
  apis/auth/src/api/errors/BadRequestException.ts
  apis/auth/src/api/index.ts
  apis/auth/src/api/mapping/user/queries/index.ts
  apis/auth/src/contexts/users/application/queries/GetUser/GetUserById.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/AuthApiService.ts
  apps/web/src/pages/api/auth/signup.ts
  yarn.lock
Labels: Auth, Web

refactor: deleted unnecesary index
  apis/auth/src/api/index.ts
  apis/auth/src/api/middlewares/index.ts
Labels: Auth

fix: catch possible error if jwt token is not valid
  apis/auth/src/api/auth/strategies/JwtStrategy.ts
Labels: Auth

refactor: improved use of routing controllers di manager
  apis/auth/src/api/auth/index.ts
  apis/auth/src/api/controllers/auth/CurrentUserController.ts
  apis/auth/src/api/controllers/auth/SignUpController.ts
  apis/auth/src/api/index.ts
  apis/auth/src/api/middlewares/after/ErrorHandler.ts
  apis/auth/src/api/middlewares/after/RouteNotFound.ts
  apis/auth/src/api/middlewares/before/RequestConsoleLogger.ts
Labels: Auth

feat: added contracts for signin and normalized authorization response
  packages/commons/src/contracts/auth/AuthorizationResponse.ts
  packages/commons/src/contracts/auth/SignInContracts.ts
Labels: none

feat: fixed password.of, singup and singin done in auth
  apis/auth/src/api/controllers/auth/SignInController.ts
  apis/auth/src/api/controllers/auth/SignUpController.ts
  apis/auth/src/api/mapping/user/queries/index.ts
  apis/auth/src/contexts/users/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.ts
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithBasicCredentials.ts
  apis/auth/src/contexts/users/domain/UserBasicCredentials.ts
  apis/auth/src/contexts/users/domain/UserEmail.ts
  apis/auth/src/contexts/users/domain/UserPassword.ts
  apis/auth/src/contexts/users/domain/errors/InvalidCredentials.ts
  apis/auth/test/helpers/builders/user/UserBuilder.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithBasicCredentials.spec.ts
Labels: Auth

wip: working on session cookie
  apps/web/package.json
  apps/web/src/components/forms/singup/index.tsx
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/lib/cookieUtils.ts
  apps/web/src/lib/decodeError.ts
  apps/web/src/lib/env.ts
  apps/web/src/pages/api/auth/signup.ts
  apps/web/src/pages/index.tsx
  apps/web/src/pages/panel/index.tsx
  apps/web/src/pages/singup.tsx
  yarn.lock
Labels: Web

feat: signin and signup cookie working
  apps/web/src/components/forms/signin/index.tsx
  apps/web/src/pages/api/auth/signin.ts
Labels: Web

feat: linted web app
  apps/web/.eslintignore
  apps/web/.eslintrc.json
  apps/web/.prettierignore
  apps/web/.prettierrc
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/components/forms/signin/index.tsx
  apps/web/src/components/forms/singup/index.tsx
  apps/web/src/components/home/LogoBar/index.tsx
  apps/web/src/contexts/shared/domain/errors/EnviromentVariableNotFoundError.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/AuthApiService.ts
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/lib/controllers/SafeControllerHandling.ts
  apps/web/src/lib/cookieUtils.ts
  apps/web/src/lib/decodeError.ts
  apps/web/src/lib/env.ts
  apps/web/src/pages/_app.tsx
  apps/web/src/pages/api/auth/signin.ts
  apps/web/src/pages/api/auth/signup.ts
  apps/web/src/pages/api/hello.ts
  apps/web/src/pages/index.tsx
  apps/web/src/pages/panel/index.tsx
  apps/web/src/pages/singup.tsx
  yarn.lock
Labels: Web

fix: api-utils package imports
  packages/api-utils/.gitignore
  packages/api-utils/package.json
  packages/api-utils/src/exceptions/RouteNotFound.ts
  packages/api-utils/src/exceptions/index.ts
  packages/api-utils/src/http/StatusCode.ts
  packages/api-utils/src/http/index.ts
  packages/api-utils/src/index.ts
  packages/api-utils/src/interfaces/httpError.ts
  packages/api-utils/src/interfaces/index.ts
  packages/api-utils/src/loggers/console.ts
  packages/api-utils/src/loggers/index.ts
  packages/api-utils/src/middlewares/ErrorHandler.ts
  packages/api-utils/src/middlewares/RequestConsoleLogger.ts
  packages/api-utils/src/middlewares/index.ts
  packages/api-utils/tsconfig.json
  yarn.lock
Labels: Auth, Courses, Profiles

fix: auth usage of apiutils
  apis/auth/src/api/auth/strategies/JwtStrategy.ts
  apis/auth/src/api/controllers/_health/index.ts
  apis/auth/src/api/controllers/auth/CurrentUserController.ts
  apis/auth/src/api/controllers/auth/SignInController.ts
  apis/auth/src/api/controllers/auth/SignUpController.ts
  apis/auth/src/api/index.ts
  apis/auth/src/api/middlewares/after/ErrorHandler.ts
  apis/auth/src/api/middlewares/after/RouteNotFound.ts
  apis/auth/src/api/middlewares/before/RequestConsoleLogger.ts
  apis/auth/src/api/mongo/connection.ts
  apis/auth/src/contexts/users/application/events/UserWasCreatedHandler.ts
Labels: Auth

fix: usage of apiutils in other applications
  apis/courses/src/api/controllers/_health/index.ts
  apis/courses/src/api/index.ts
  apis/courses/src/api/middlewares/after/ErrorHandler.ts
  apis/courses/src/api/middlewares/after/RouteNotFound.ts
  apis/courses/src/api/middlewares/before/RequestConsoleLogger.ts
  apis/profiles/src/api/controllers/_health/index.ts
  apis/profiles/src/api/index.ts
  apis/profiles/src/api/middlewares/after/ErrorHandler.ts
  apis/profiles/src/api/middlewares/after/RouteNotFound.ts
  apis/profiles/src/api/middlewares/before/RequestConsoleLogger.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
Labels: Courses, Profiles, Web

fix: commons package
  packages/commons/package.json
  packages/commons/src/index.ts
  yarn.lock
Labels: Auth, Courses, Profiles, Web, Storybook

fix: usage of commons package
  apis/auth/src/api/controllers/auth/CurrentUserController.ts
  apis/auth/src/api/controllers/auth/SignInController.ts
  apis/auth/src/api/controllers/auth/SignUpController.ts
  apis/auth/src/api/errors/BadRequestException.ts
  apis/auth/src/api/middlewares/after/ErrorHandler.ts
  apis/auth/src/contexts/shared/domain/valueObjects/UUID.ts
  apis/auth/src/contexts/users/domain/UserEmail.ts
  apis/auth/src/contexts/users/domain/UserNickname.ts
  apis/auth/src/contexts/users/domain/UserPassword.ts
  apis/auth/src/contexts/users/domain/errors/InvalidCredentials.ts
  apis/auth/src/contexts/users/domain/errors/UserInvalid.ts
  apis/auth/src/contexts/users/domain/errors/UserNotFound.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.spec.ts
  apps/web/src/contexts/shared/domain/errors/EnviromentVariableNotFoundError.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/lib/controllers/SafeControllerHandling.ts
  apps/web/src/lib/decodeError.ts
  apps/web/src/pages/api/auth/signin.ts
  apps/web/src/pages/api/auth/signup.ts
Labels: Auth, Web

fix: di package
  packages/dependency-injection/.gitignore
  packages/dependency-injection/package.json
  packages/dependency-injection/tsconfig.json
  yarn.lock
Labels: none

chore: commented ci if's to force workflows
  .github/workflows/qa.yml
Labels: none

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/*
Courses:
  - apis/courses/**/*
  - apis/coursesauth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/*
Profiles:
  - apis/profiles/**/*
  - apis/profilesauth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/*
Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/commons/*
Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/commons/*
