Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

test: added more test cases for rename usecase
  apis/courses/test/unit/contexts/courses/application/commands/RenameCourse.spec.ts
Labels: Courses

refactor&feat: refactorized rename usecase to update usecase & added update description
  apis/courses/src/contexts/courses/application/commands/UpdateCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/test/unit/contexts/courses/application/commands/UpdateCourse.spec.ts
Labels: Courses

refactor: aisled tags array on a value object to make it easier later
  apis/courses/src/contexts/courses/application/commands/CreateNewCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/CourseTags.ts
Labels: Courses

feat: courseTags cant be repeated
  apis/courses/src/contexts/courses/domain/CourseTags.ts
Labels: Courses

feat: added CourseTags to tests
  apis/courses/test/helpers/builders/CourseBuilder.ts
  apis/courses/test/helpers/object-mother/CourseTagMother.ts
  apis/courses/test/unit/contexts/courses/application/commands/UpdateCourse.spec.ts
Labels: Courses

feat: added update Tags to usecase
  apis/courses/src/contexts/courses/application/commands/UpdateCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
Labels: Courses

test: refactorized update course tests
  apis/courses/test/unit/contexts/courses/application/commands/UpdateCourse.spec.ts
Labels: Courses

fix: removed unused var and updated tags usage on get my courses paginated controller
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
Labels: Courses

feat: mapped command to commandBus
  apis/courses/src/api/mapping/courses/commands/index.ts
Labels: Courses

feat: added endpoint
  apis/courses/src/api/controllers/courses/UpdateCourseController.ts
Labels: Courses

feat: added updatedAt property to courses
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseData.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchemaFactory.ts
Labels: Courses

[Courses - Api] Update course endpoint (#36)
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/api/controllers/courses/UpdateCourseController.ts
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/contexts/courses/application/commands/UpdateCourse.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/CourseRepository.ts
  apis/courses/src/contexts/courses/domain/CourseTags.ts
  apis/courses/src/contexts/courses/domain/errors/CourseNotFoundError.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasRenamed.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseData.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchemaFactory.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/MongoCourseRepository.ts
  apis/courses/src/contexts/shared/domain/Nullable.ts
  apis/courses/test/helpers/builders/CourseBuilder.ts
  apis/courses/test/helpers/object-mother/CourseTagMother.ts
  apis/courses/test/unit/contexts/courses/application/commands/UpdateCourse.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: update course view
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/contexts/courses/application/UpdateCourse.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/pages/api/course/[id].tsx
  apps/web/src/pages/course/edit/[id].tsx
  packages/commons/src/contracts/courses/UpdateCourseContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: update course view (#37)
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/contexts/courses/application/UpdateCourse.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/pages/api/course/[id].tsx
  apps/web/src/pages/course/edit/[id].tsx
  packages/commons/src/contracts/courses/UpdateCourseContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: get course by id endpoint
  apis/courses/src/api/controllers/courses/GetCourseByIdController.ts
  apis/courses/src/api/mapping/courses/queries/index.ts
  apis/courses/src/contexts/courses/application/queries/GetCourseById.ts
Labels: Courses

feat: showing current values on edit form
  apps/web/src/contexts/courses/application/GetCourseById.ts
  apps/web/src/pages/api/course/[id].tsx
  apps/web/src/pages/course/edit/[id].tsx
  packages/ui/components/interactivity/form/body/selectMultipleInput.tsx
Labels: Web, Storybook

fix: made selectedValues optional on multiselect input
  packages/ui/components/interactivity/form/body/selectMultipleInput.tsx
Labels: Web, Storybook

[Courses] Show current values on edit course form (#38)
  apis/courses/src/api/controllers/courses/GetCourseByIdController.ts
  apis/courses/src/api/mapping/courses/queries/index.ts
  apis/courses/src/contexts/courses/application/queries/GetCourseById.ts
  apps/web/src/contexts/courses/application/GetCourseById.ts
  apps/web/src/pages/api/course/[id].tsx
  apps/web/src/pages/course/edit/[id].tsx
  packages/ui/components/interactivity/form/body/selectMultipleInput.tsx
Labels: Courses, Web, Storybook

wip: add lesson view
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/newLessonForm.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/pages/course/[courseId]/add-lesson.tsx
  apps/web/src/pages/course/[courseId]/index.tsx
  yarn.lock
Labels: Web

feat: added initial Lesson domain
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/LessonContent.ts
  apis/courses/src/contexts/lessons/domain/LessonId.ts
  apis/courses/src/contexts/lessons/domain/LessonTitle.ts
Labels: Courses

feat: create new lesson use case
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/lessons/application/commands/CreateNewLesson.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/domain/events/LessonWasCreated.ts
Labels: Courses

change: creator course card
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/components/creator/panel/panel.module.scss
Labels: Web

changes: refactor creator dashboard
  apps/web/src/components/creator/creator.module.scss
  apps/web/src/components/header/header.module.scss
  apps/web/src/pages/creator/index.tsx
  apps/web/src/styles/_colors.scss
  apps/web/src/styles/globals.scss
  packages/ui/components/interactivity/cta/button/button.module.scss
  packages/ui/components/interactivity/tags/tags.module.scss
Labels: Web, Storybook

wip: course preview page structure and navigator
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/previewNavigator.tsx
  apps/web/src/pages/course/[courseId]/index.tsx
Labels: Web

feat: parametriced creator header to customize title
  apps/web/src/components/creator/header.tsx
  apps/web/src/pages/course/[courseId]/index.tsx
  apps/web/src/pages/creator/index.tsx
Labels: Web

wip: working on preview course view
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

wip: working on preview course view and edit modals
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/preview.tsx
  packages/ui/components/interactivity/form/body/selectMultipleInput.tsx
  packages/ui/components/modal/modal.module.scss
Labels: Web, Storybook

feat: rename course endpoint on course api
  apis/courses/src/api/controllers/courses/RenameCourseController.ts
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/contexts/courses/application/commands/RenameCourse.ts
Labels: Courses

feat: rename course endpoint on web and conected to frontned
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/contexts/courses/application/RenameCourse.ts
  apps/web/src/pages/api/course/[id]/index.tsx
  apps/web/src/pages/api/course/[id]/title.tsx
  packages/commons/src/contracts/courses/UpdateCourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: update course description command & endpoint on course api
  apis/courses/src/api/controllers/courses/UpdateCourseDescriptionController.ts
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/contexts/courses/application/commands/UpdateCourseDescription.ts
Labels: Courses

fix: renamed controller to update course description controller
  apis/courses/src/api/controllers/courses/UpdateCourseDescriptionController.ts
Labels: Courses

feat: conected endpoint to frontend
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/contexts/courses/application/UpdateCourseDescription.ts
  apps/web/src/pages/api/course/[id]/description.tsx
  packages/commons/src/contracts/courses/UpdateCourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: update course tags command & endpoint on course api
  apis/courses/src/api/controllers/courses/UpdateCourseTagsController.ts
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/contexts/courses/application/commands/UpdateCourseTags.ts
Labels: Courses

feat: conected tags endpoint to frontend
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/contexts/courses/application/UpdateCourseTags.ts
  apps/web/src/pages/api/course/[id]/tags.tsx
  packages/commons/src/contracts/courses/UpdateCourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: added empty lessons and stats page for courses
  apps/web/src/pages/course/[courseId]/lessons.tsx
  apps/web/src/pages/course/[courseId]/stats.tsx
Labels: Web

feat: added lessons view placeholder
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
  apps/web/src/components/creator/course/lessons/CourseLessonsList.tsx
  apps/web/src/pages/course/[courseId]/lessons.tsx
Labels: Web

feat: updated add lesson view, now using new creator design
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/pages/course/[courseId]/add-lesson.tsx
Labels: Web

feat: infrastructure for lesson
  apis/courses/src/contexts/lessons/application/commands/CreateNewLesson.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonData.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonSchema.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/LessonSchemaFactory.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
Labels: Courses

feat: create new lesson controller
  apis/courses/src/api/controllers/lesson/CreateNewLessonController.ts
  apis/courses/src/api/mapping/index.ts
  apis/courses/src/api/mapping/lessons/commands/index.ts
  apis/courses/src/api/mapping/lessons/index.ts
Labels: Courses

feat: added web endpoint and connected to frontend
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/contexts/lessons/aplication/CreateLesson.ts
  apps/web/src/pages/api/lessons/index.ts
  packages/commons/src/contracts/courses/CreateLessonContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*
