Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

feat: endpoint for getting all lessons from course
  apis/courses/src/api/controllers/lesson/GetLessonsByCourseIdController.ts
  apis/courses/src/api/mapping/lessons/index.ts
  apis/courses/src/api/mapping/lessons/queries/index.ts
  apis/courses/src/contexts/lessons/application/queries/GetLessonsByCourse.ts
  apis/courses/src/contexts/lessons/application/services/LessonFinder.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
  packages/commons/src/contracts/courses/LessonContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: showing lessons on lesson list view
  apps/web/src/components/creator/course/lessons/CourseLessonsList.tsx
  apps/web/src/contexts/lessons/aplication/GetLessonsByCourseId.ts
  apps/web/src/pages/api/lessons/by-course/[courseId].tsx
Labels: Web

fix: lesson title now is handled properly
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
Labels: Web

fix: lesson title now is handled properly (#43)
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
Labels: Web

[Courses - Creator] Get Lessons By Course and show them on lesson list (#42)
  apis/courses/src/api/controllers/lesson/GetLessonsByCourseIdController.ts
  apis/courses/src/api/mapping/lessons/index.ts
  apis/courses/src/api/mapping/lessons/queries/index.ts
  apis/courses/src/contexts/lessons/application/queries/GetLessonsByCourse.ts
  apis/courses/src/contexts/lessons/application/services/LessonFinder.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
  apps/web/src/components/creator/course/lessons/CourseLessonsList.tsx
  apps/web/src/contexts/lessons/aplication/GetLessonsByCourseId.ts
  apps/web/src/pages/api/lessons/by-course/[courseId].tsx
  packages/commons/src/contracts/courses/LessonContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

style: added 1rem padding to lesson list
  apps/web/src/components/creator/course/course.module.scss
Labels: Web

feat: let inputs to be used outside styled forms and be complemented with classes
  packages/ui/components/interactivity/form/body/textAreaInput.tsx
  packages/ui/components/interactivity/form/body/textInput.tsx
  packages/ui/components/interactivity/form/form.module.scss
Labels: Web, Storybook

refactor&feat: use styled inputs & new creator structure
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/newCourseForm.tsx
  apps/web/src/pages/course/new.tsx
Labels: Web

feat: using textinput on create new lesson form
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
Labels: Web

feat: using inputs on update course modals
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

fix: removed unused imports
  apps/web/src/pages/course/new.tsx
Labels: Web

fix: linter error on import
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

[Creator - Course] Enhance inputs (#44)
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
  apps/web/src/components/creator/course/newCourseForm.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/pages/course/new.tsx
  packages/ui/components/interactivity/form/body/textAreaInput.tsx
  packages/ui/components/interactivity/form/body/textInput.tsx
  packages/ui/components/interactivity/form/form.module.scss
Labels: Web, Storybook

feat: moved /courses to /creator/courses
  apps/web/src/components/creator/course/lessons/CourseLessonsList.tsx
  apps/web/src/components/creator/course/previewNavigator.tsx
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/pages/creator/course/[courseId]/add-lesson.tsx
  apps/web/src/pages/creator/course/[courseId]/index.tsx
  apps/web/src/pages/creator/course/[courseId]/lessons.tsx
  apps/web/src/pages/creator/course/[courseId]/stats.tsx
  apps/web/src/pages/creator/course/edit/[id].tsx
  apps/web/src/pages/creator/course/new.tsx
  apps/web/src/pages/creator/index.tsx
Labels: Web

fix: changed lesson card links too
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
Labels: Web

feat: moved /courses to /creator/courses (#45)
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
  apps/web/src/components/creator/course/lessons/CourseLessonsList.tsx
  apps/web/src/components/creator/course/previewNavigator.tsx
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/pages/creator/course/[courseId]/add-lesson.tsx
  apps/web/src/pages/creator/course/[courseId]/index.tsx
  apps/web/src/pages/creator/course/[courseId]/lessons.tsx
  apps/web/src/pages/creator/course/[courseId]/stats.tsx
  apps/web/src/pages/creator/course/edit/[id].tsx
  apps/web/src/pages/creator/course/new.tsx
  apps/web/src/pages/creator/index.tsx
Labels: Web

feat: added endpoint for getting lesson by id
  apis/courses/src/api/controllers/lesson/GetLessonByIdController.ts
  apis/courses/src/api/mapping/lessons/queries/index.ts
  apis/courses/src/contexts/lessons/application/queries/GetLessonById.ts
  apis/courses/src/contexts/lessons/application/services/LessonFinder.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/domain/errors/LessonNotFoundError.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
  packages/commons/src/contracts/courses/LessonContracts.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: connected endpoint to frontend & wip of preview lesson page
  apps/web/src/components/creator/course/lessons/PreviewLesson.tsx
  apps/web/src/contexts/lessons/aplication/GetLessonById.ts
  apps/web/src/pages/api/lesson/[id]/index.tsx
  apps/web/src/pages/creator/course/[courseId]/lesson/[lessonId]/index.tsx
Labels: Web

deps: added next-mdx-remote
  apps/web/package.json
  yarn.lock
Labels: Web

feat: added preview for lesson
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/PreviewLesson.tsx
Labels: Web

dep: updated mongoose on auth
  apis/auth/package.json
  yarn.lock
Labels: Auth

dep: updated mongoose on courses
  apis/courses/package.json
Labels: Courses

chore: updated yarnlock
  yarn.lock
Labels: none

dep: mongoose to 7.4.0 (#47)
  apis/auth/package.json
  apis/courses/package.json
  yarn.lock
Labels: Auth, Courses

[Courses - Creator] Lesson previews (#46)
  apis/courses/src/api/controllers/lesson/GetLessonByIdController.ts
  apis/courses/src/api/mapping/lessons/queries/index.ts
  apis/courses/src/contexts/lessons/application/queries/GetLessonById.ts
  apis/courses/src/contexts/lessons/application/services/LessonFinder.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/domain/errors/LessonNotFoundError.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
  apps/web/package.json
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/PreviewLesson.tsx
  apps/web/src/contexts/lessons/aplication/GetLessonById.ts
  apps/web/src/pages/api/lesson/[id]/index.tsx
  apps/web/src/pages/creator/course/[courseId]/lesson/[lessonId]/index.tsx
  packages/commons/src/contracts/courses/LessonContracts.ts
  packages/commons/src/errors/ErrorCodes.ts
  yarn.lock
Labels: Auth, Courses, Profiles, Web

fix: create lesson button push to new url
  apps/web/src/components/creator/course/lessons/newLessonForm.tsx
Labels: Web

feat: endpoint to update lessons
  apis/courses/src/api/controllers/lesson/UpdateLessonController.ts
  apis/courses/src/api/mapping/lessons/commands/index.ts
  apis/courses/src/contexts/lessons/application/commands/UpdateLesson.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
  packages/commons/src/contracts/courses/LessonContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: update lesson on web
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/contexts/lessons/aplication/UpdateLesson.ts
  apps/web/src/pages/api/lesson/[id]/index.tsx
  apps/web/src/pages/creator/course/[courseId]/lesson/[lessonId]/edit.tsx
Labels: Web

[Courses - Creator] Edit lessons (#48)
  apis/courses/src/api/controllers/lesson/UpdateLessonController.ts
  apis/courses/src/api/mapping/lessons/commands/index.ts
  apis/courses/src/contexts/lessons/application/commands/UpdateLesson.ts
  apis/courses/src/contexts/lessons/domain/Lesson.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
  apps/web/src/components/creator/course/lessons/editLessonForm.tsx
  apps/web/src/contexts/lessons/aplication/UpdateLesson.ts
  apps/web/src/pages/api/lesson/[id]/index.tsx
  apps/web/src/pages/creator/course/[courseId]/lesson/[lessonId]/edit.tsx
  packages/commons/src/contracts/courses/LessonContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: added delete button on lesson card with confirm modal
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
Labels: Web

feat: added endpoint to delete lessons
  apis/courses/src/api/controllers/lesson/DeleteLessonController.ts
  apis/courses/src/api/mapping/lessons/commands/index.ts
  apis/courses/src/contexts/lessons/application/commands/DeleteLesson.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
Labels: Courses

feat: web endpoint to connect with courses api
  apps/web/src/contexts/lessons/aplication/DeleteLesson.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/pages/api/lesson/[id]/index.tsx
Labels: Web

feat: deleting lesson on submiting confirm modal
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
Labels: Web

[Courses - Creator] Remove lesson (#49)
  apis/courses/src/api/controllers/lesson/DeleteLessonController.ts
  apis/courses/src/api/mapping/lessons/commands/index.ts
  apis/courses/src/contexts/lessons/application/commands/DeleteLesson.ts
  apis/courses/src/contexts/lessons/domain/LessonRepository.ts
  apis/courses/src/contexts/lessons/infrastructure/persistance/mongo/MongoLessonRepository.ts
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/lessons/CourseLessonCard.tsx
  apps/web/src/contexts/lessons/aplication/DeleteLesson.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/ApiService.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/pages/api/lesson/[id]/index.tsx
Labels: Courses, Web

feat: create course form updated to use markdown editor for description
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/newCourseForm.tsx
Labels: Web

feat: update course description modal updated to use markdown
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

fix: removed unused import
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

feat: mdx support to course description on preview
  apps/web/src/components/creator/course/preview.tsx
Labels: Web

feat: mdx support to course description on course card
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/components/creator/panel/panel.module.scss
Labels: Web

[Courses - Creator] Course description with markdown support (#50)
  apps/web/src/components/creator/course/course.module.scss
  apps/web/src/components/creator/course/newCourseForm.tsx
  apps/web/src/components/creator/course/preview.tsx
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/components/creator/panel/panel.module.scss
Labels: Web

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*
