Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

feat: temporal application header (#19)
  apps/web/package.json
  apps/web/src/components/header/header.module.scss
  apps/web/src/components/header/header.tsx
  apps/web/src/components/header/types.ts
  apps/web/src/lib/cookieUtils.ts
  apps/web/src/pages/panel/index.tsx
  apps/web/src/styles/_colors.scss
  yarn.lock
Labels: Web

feat: temporal application header
  apps/web/package.json
  apps/web/src/components/header/header.module.scss
  apps/web/src/components/header/header.tsx
  apps/web/src/components/header/types.ts
  apps/web/src/lib/cookieUtils.ts
  apps/web/src/pages/panel/index.tsx
  apps/web/src/styles/_colors.scss
  yarn.lock
Labels: Web

feat: lowered rounds from 16 to 12, request from 3s to ~200ms
  apis/auth/src/contexts/users/domain/UserPassword.ts
Labels: Auth

feat: initialize & save email always as lowercase
  apis/auth/src/contexts/users/domain/UserEmail.ts
Labels: Auth

feat: assert secure password
  apis/auth/src/contexts/users/domain/UserPassword.ts
  apis/auth/src/contexts/users/domain/errors/InvalidPassword.ts
  apps/web/src/lib/decodeError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

[Auth - Web] Auth improve performance & assertions (#20)
  apis/auth/src/contexts/users/domain/UserEmail.ts
  apis/auth/src/contexts/users/domain/UserPassword.ts
  apis/auth/src/contexts/users/domain/errors/InvalidPassword.ts
  apps/web/src/lib/decodeError.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

style: linter error fixed
  apps/web/src/components/header/types.ts
Labels: Web

feat: google oauth on auth service
  apis/auth/.env.example
  apis/auth/src/api/config/env.ts
  apis/auth/src/api/controllers/auth/GoogleOAuthController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
  apis/auth/src/api/mapping/user/queries/index.ts
  apis/auth/src/api/middlewares/after/ErrorHandler.ts
  apis/auth/src/contexts/users/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.ts
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithGoogleCredentials.ts
  apis/auth/src/contexts/users/domain/GoogleId.ts
  apis/auth/src/contexts/users/domain/PossibleUserCredentials.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserGoogleCredentials.ts
  apis/auth/src/contexts/users/domain/UserRepository.ts
  apis/auth/src/contexts/users/domain/errors/UserInvalid.ts
  apis/auth/src/contexts/users/domain/errors/UserNotFound.ts
  apis/auth/src/contexts/users/domain/events/UserWasCreated.ts
  apis/auth/src/contexts/users/domain/services/UserFinder.ts
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/MongoUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserData.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchema.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchemaFactory.ts
  packages/commons/src/contexts/user/domain/Nickname.ts
Labels: Auth, Courses, Profiles, Web

feat: conected frontend for google credentials
  apis/auth/.env.example
  apis/auth/src/api/config/env.ts
  apis/auth/src/api/controllers/auth/GoogleOAuthController.ts
  apps/web/public/icons/github.svg
  apps/web/public/icons/google.svg
  apps/web/src/components/auth/GithubAuthButton.tsx
  apps/web/src/components/auth/GoogleAuthButton.tsx
  apps/web/src/components/auth/OAuthIcons.tsx
  apps/web/src/components/auth/auth.module.scss
  apps/web/src/components/forms/signin/index.tsx
  apps/web/src/components/forms/singup/index.tsx
  apps/web/src/contexts/shared/infrastructure/ApiClients/AuthApiService.ts
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/lib/cookieUtils.ts
  apps/web/src/pages/api/auth/google/index.ts
  apps/web/src/pages/api/auth/google/url.ts
  apps/web/src/pages/auth/index.tsx
  apps/web/src/pages/panel/index.tsx
Labels: Auth, Web

styles: lint code
  apps/web/src/components/forms/signin/index.tsx
  apps/web/src/lib/cookieUtils.ts
Labels: Web

chore: added types for jsonwebtoken on client
  apps/web/package.json
  yarn.lock
Labels: Web

feat: moved responsability of decoding jwt to auth, not client
  apps/web/package.json
  apps/web/src/components/header/header.tsx
  apps/web/src/lib/InternalApiClient.ts
  apps/web/src/lib/cookieUtils.ts
  apps/web/src/pages/api/auth/me.ts
  yarn.lock
Labels: Web

chore: deleted unused import
  apps/web/src/lib/cookieUtils.ts
Labels: Web

chore: deleted old line :facepalm:
  apps/web/src/lib/cookieUtils.ts
Labels: Web

test: tested UserNickname specs
  apis/auth/test/unit/contexts/user/domain/UserNickname.spec.ts
Labels: Auth

feat: emails now are validated with regex expresion
  apis/auth/src/contexts/users/domain/UserEmail.ts
  apis/auth/src/contexts/users/domain/errors/InvalidEmail.ts
Labels: Auth

test: added email testing
  apis/auth/test/unit/contexts/user/domain/UserEmail.spec.ts
Labels: Auth

feat: nicknames can't contain invalid symbols
  apis/auth/test/unit/contexts/user/domain/UserNickname.spec.ts
  packages/commons/src/contexts/user/domain/Nickname.ts
  packages/commons/src/contexts/user/domain/errors/InvalidUserNicknameError.ts
Labels: Auth, Courses, Profiles, Web

feat: moved assertions of nickname and password to commons
  apis/auth/package.json
  apis/auth/src/contexts/users/domain/UserPassword.ts
  apis/auth/test/unit/contexts/user/domain/UserNickname.spec.ts
  packages/commons/package.json
  packages/commons/src/contexts/user/domain/Nickname.ts
  packages/commons/src/contexts/user/domain/Password.ts
  packages/commons/src/contexts/user/domain/errors/InvalidNicknameError.ts
  packages/commons/src/contexts/user/domain/errors/InvalidPassword.ts
  packages/commons/src/index.ts
  yarn.lock
Labels: Auth, Courses, Profiles, Web

feat: enhanced string mother, added casing and symbols
  apis/auth/test/helpers/object-mother/StringMother.ts
  apis/auth/test/unit/contexts/user/domain/UserNickname.spec.ts
Labels: Auth

tests: better testing for nickname
  apis/auth/test/helpers/object-mother/StringMother.ts
  apis/auth/test/unit/contexts/user/domain/UserNickname.spec.ts
Labels: Auth

feat: exported InvalidPasswordError on commons and asserting no spaces for passwords
  packages/commons/src/contexts/user/domain/Password.ts
  packages/commons/src/contexts/user/domain/errors/InvalidPasswordError.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

test: testing password
  apis/auth/test/helpers/object-mother/StringMother.ts
  apis/auth/test/unit/contexts/user/domain/UserPassword.spec.ts
Labels: Auth

feat: moved bcrypt and hashing functions to api instead of commons
  apis/auth/package.json
  apis/auth/src/contexts/users/domain/UserPassword.ts
  packages/commons/package.json
  packages/commons/src/contexts/user/domain/Password.ts
  yarn.lock
Labels: Auth, Courses, Profiles, Web

fix: hotfixes
  apis/auth/src/contexts/users/domain/UserPassword.ts
  apis/auth/test/unit/contexts/user/domain/UserPassword.spec.ts
Labels: Auth

feat: consistency for string mother generator
  apis/auth/test/helpers/object-mother/StringMother.ts
Labels: Auth

feat: fixed register nwe user basic tests
  apis/auth/test/helpers/builders/user/UserBuilder.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.spec.ts
Labels: Auth

test: fixed signin basic credentials test
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithBasicCredentials.spec.ts
Labels: Auth

refactor: extracted generateValidPassword method to separate file
  apis/auth/test/helpers/lib/generateValidPassword.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithBasicCredentials.spec.ts
Labels: Auth

test: added test for user basic credentials
  apis/auth/test/unit/contexts/user/domain/UserBasicCredentials.spec.ts
Labels: Auth

test: added test for user google credentials
  apis/auth/test/unit/contexts/user/domain/UserGoogleCredentials.spec.ts
Labels: Auth

chore: removed unused import on user
  apis/auth/src/contexts/users/domain/User.ts
Labels: Auth

refactor: extracted generateValidNickname method to separate file
  apis/auth/test/helpers/lib/generateValidNickname.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.spec.ts
Labels: Auth

test: added tests for creating user methods
  apis/auth/test/unit/contexts/user/domain/User.spec.ts
Labels: Auth

refactor: enhancing UserBuilder
  apis/auth/test/helpers/builders/user/UserBuilder.ts
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserBasicCredentials.spec.ts
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithBasicCredentials.spec.ts
Labels: Auth

test: added user credentials tests
  apis/auth/test/unit/contexts/user/domain/User.spec.ts
Labels: Auth

dep: updated yarnlock
  yarn.lock
Labels: none

test: userfinder specs
  apis/auth/test/unit/contexts/user/domain/services/UserFinder.spec.ts
Labels: Auth

fix: removed unused import
  apis/auth/test/unit/contexts/user/domain/services/UserFinder.spec.ts
Labels: Auth

fix: prevent persisting duplicate google credentials user
  apis/auth/src/contexts/users/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.ts
Labels: Auth
