Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

change: userRepository now expose users array to test purposes
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
Labels: Auth

test: registerNewUserGoogleCredentials usecase
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.spec.ts
Labels: Auth

fix: test typo again
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.spec.ts
Labels: Auth

fix: needed await on test
  apis/auth/test/unit/contexts/user/application/commands/RegisterNewUser/RegisterNewUserGoogleCredentials.spec.ts
Labels: Auth

feat: added verification of credentials on signin for google credentials
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithGoogleCredentials.ts
  apis/auth/src/contexts/users/domain/errors/InvalidCredentials.ts
Labels: Auth

dep: added jest-mock-extended for auth tests
  apis/auth/package.json
  yarn.lock
Labels: Auth

test: signin with google credentials
  apis/auth/test/unit/contexts/user/application/queries/SignIn/SignInWithGoogleCredentials.spec.ts
Labels: Auth

refactor&dep: refactorized mongo connection to use test-containers
  apis/auth/.env.example
  apis/auth/package.json
  apis/auth/src/api/index.ts
  apis/auth/src/api/mongo/config.ts
  apis/auth/src/api/mongo/connection.ts
  yarn.lock
Labels: Auth

wip: started testing mongo user repository
  apis/auth/test/helpers/test-containers/mongo.ts
  apis/auth/test/integration/user/MongoUserRepository.spec.ts
Labels: Auth

chore: changed jest config
  apis/auth/jest.config.js
Labels: Auth

fix: deleted console.log & changed log from connecting to mongo
  apis/auth/src/api/mongo/connection.ts
Labels: Auth

test: added find tests for mongo repository
  apis/auth/test/integration/user/MongoUserRepository.spec.ts
Labels: Auth

dep: added supertest
  apis/auth/package.json
  yarn.lock
Labels: Auth

fix: registered controller on di
  apis/auth/src/api/controllers/_health/index.ts
Labels: Auth

feat: adapted app to use it with supertest
  apis/auth/src/api/app.ts
  apis/auth/src/api/index.ts
Labels: Auth

test: added e2e test for health check
  apis/auth/test/e2e/health/health.spec.ts
Labels: Auth

change: disconnectMongoTest not requiring mongoose instance as param
  apis/auth/test/helpers/test-containers/mongo.ts
  apis/auth/test/integration/user/MongoUserRepository.spec.ts
Labels: Auth

test: added test for SigInController basic
  apis/auth/test/e2e/auth/SingInController.spec.ts
Labels: Auth

fix: typo on test name
  apis/auth/test/e2e/auth/SignInController.spec.ts
Labels: Auth

rm: this file was supposed to be removed in the commit before
  apis/auth/test/e2e/auth/SingInController.spec.ts
Labels: Auth

chore: added test:e2e script to package
  apis/auth/package.json
Labels: Auth

fix: deleted console.error on error handler
  apis/auth/src/api/middlewares/after/ErrorHandler.ts
Labels: Auth

fix: added assertion in case that credentials miss
  apis/auth/src/api/controllers/auth/SignUpController.ts
Labels: Auth

test: added testing for signup basic
  apis/auth/test/e2e/auth/SignUpController.spec.ts
Labels: Auth

fix: deleted console.log
  apis/auth/test/e2e/auth/SignUpController.spec.ts
Labels: Auth

fix: deleted unused import
  apis/auth/test/e2e/auth/SignUpController.spec.ts
Labels: Auth

chore: added rimraf to auth & fixed build command
  apis/auth/package.json
  apis/auth/tsconfig.json
  yarn.lock
Labels: Auth

feat: added creator panel page & courseSearcher bar frontend
  apps/web/src/components/creator/creator.module.scss
  apps/web/src/components/creator/header.tsx
  apps/web/src/components/creator/panel/index.tsx
  apps/web/src/pages/creator/index.tsx
  apps/web/src/styles/globals.scss
  packages/commons/src/contexts/courses/domain/CoursePreviewData.ts
  packages/ui/components/interactivity/tags/index.tsx
  packages/ui/components/interactivity/tags/tags.module.scss
  packages/ui/components/search/coursesSearcher.tsx
  packages/ui/components/search/search.module.scss
Labels: Auth, Courses, Profiles, Web, Storybook

refactor: moved Create new course button outside CourseSearcher
  apps/web/src/pages/creator/index.tsx
  apps/web/src/styles/globals.scss
  packages/ui/components/search/coursesSearcher.tsx
  packages/ui/components/search/search.module.scss
Labels: Web, Storybook

wip: working on creator panel
  apps/web/src/pages/creator/index.tsx
  packages/ui/components/modal/index.tsx
  packages/ui/components/modal/modal.module.scss
Labels: Web, Storybook

fix: returning 200 instead of 201 on get handler
  apps/web/src/pages/api/auth/google/url.ts
Labels: Web

chore: yarnlock update
  yarn.lock
Labels: none

feat: getting github url to authorize
  apis/auth/.env.example
  apis/auth/src/api/config/env.ts
  apis/auth/src/api/controllers/auth/GithubOAuthController.ts
  apps/web/src/components/auth/GithubAuthButton.tsx
  apps/web/src/pages/api/auth/github/url.ts
Labels: Auth, Web

feat: auth controller authenticate for github -- TODO: SignIn UseCase for github
  apis/auth/src/api/controllers/auth/GithubOAuthController.ts
  apps/web/src/pages/api/auth/github/index.ts
Labels: Auth, Web

feat: RegisterNewUserGithubCredentials usecase
  apis/auth/src/contexts/users/application/commands/RegisterNewUser/RegisterNewUserGithubCredentials.ts
  apis/auth/src/contexts/users/domain/GithubId.ts
  apis/auth/src/contexts/users/domain/PossibleUserCredentials.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserGithubCredentials.ts
  apis/auth/src/contexts/users/domain/UserRepository.ts
  apis/auth/src/contexts/users/domain/services/UserFinder.ts
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/MongoUserRepository.ts
Labels: Auth

feat: signInWithGithubCredentials usecase
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithGithubCredentials.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/errors/UserNotFound.ts
  apis/auth/src/contexts/users/domain/services/UserFinder.ts
Labels: Auth

refactor: now only githubId acts as credentials
  apis/auth/src/contexts/users/application/commands/RegisterNewUser/RegisterNewUserGithubCredentials.ts
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithGithubCredentials.ts
  apis/auth/src/contexts/users/domain/User.ts
  apis/auth/src/contexts/users/domain/UserGithubCredentials.ts
Labels: Auth

feat: added github credentials to mongoose schema
  apis/auth/src/contexts/users/infrastructure/persistance/InMemoryUserRepository.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserData.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchema.ts
  apis/auth/src/contexts/users/infrastructure/persistance/mongo/UserSchemaFactory.ts
Labels: Auth

fix: fixed name of usecase
  apis/auth/src/contexts/users/application/queries/SignIn/SignInWithGithubCredentials.ts
Labels: Auth

feat: registered use cases and calling usecase in controller
  apis/auth/src/api/controllers/auth/GithubOAuthController.ts
  apis/auth/src/api/mapping/user/commands/index.ts
  apis/auth/src/api/mapping/user/queries/index.ts
Labels: Auth
