Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

refactor: now updateCourseOnLessonsUpdated belongs to course context
  apis/courses/src/api/mapping/courses/events/index.ts
  apis/courses/src/api/mapping/courses/index.ts
  apis/courses/src/api/mapping/lessons/events/index.ts
  apis/courses/src/api/mapping/lessons/index.ts
  apis/courses/src/contexts/courses/application/events/UpdateCourseOnLessonsUpdated.ts
Labels: Courses

feat: eventHandler abstract class to implement publishing aggregate events
  apis/courses/src/contexts/courses/application/events/UpdateCourseOnLessonsUpdated.ts
  apis/courses/src/contexts/shared/application/EventHandler.ts
Labels: Courses

test: covered event handler
  apis/courses/test/unit/contexts/courses/application/events/UpdateCourseOnLessonUpdated.spec.ts
Labels: Courses

refactor: now updateCourseOnLessonsUpdated belongs to course context (#73)
  apis/courses/src/api/mapping/courses/events/index.ts
  apis/courses/src/api/mapping/courses/index.ts
  apis/courses/src/api/mapping/lessons/events/index.ts
  apis/courses/src/api/mapping/lessons/index.ts
  apis/courses/src/contexts/courses/application/events/UpdateCourseOnLessonsUpdated.ts
  apis/courses/src/contexts/lessons/application/events/UpdateCourseWhenLessonsChangedHandler.ts
  apis/courses/src/contexts/shared/application/EventHandler.ts
  apis/courses/test/unit/contexts/courses/application/events/UpdateCourseOnLessonUpdated.spec.ts
Labels: Courses

feat: reorder lessons on lesson deleted event handler & test
  apis/courses/src/contexts/lessons/application/events/ReorderLessonsOnLessonDeleted.ts
  apis/courses/test/unit/contexts/lessons/application/events/ReorderLessonsOnLessonDeleted.spec.ts
Labels: Courses

fix: reworked flaky test on lesson repository suite
  apis/courses/test/integration/lessons/MongoLessonRepository.spec.ts
Labels: Courses

fix: reworked flaky test on lesson repository suite (#75)
  apis/courses/test/integration/lessons/MongoLessonRepository.spec.ts
Labels: Courses

wip: create course subscription usecase
  apis/courses/src/contexts/course-subscription/application/commands/CreateCourseSubscription.ts
  apis/courses/src/contexts/course-subscription/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscription/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscription/domain/CourseSubscriptionId.ts
  apis/courses/src/contexts/course-subscription/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscription/domain/UserId.ts
  apis/courses/src/contexts/course-subscription/domain/errors/InvalidCourseSubscriptionError.ts
Labels: Courses

feat: added invalid course subscription errorcode
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: added course subscription was created event
  apis/courses/src/contexts/course-subscription/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscription/domain/events/CourseSubscriptionWasCreated.ts
Labels: Courses

fix: renamed course-subscription module to course-subscriptions
  apis/courses/src/contexts/course-subscriptions/application/commands/CreateCourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionId.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/domain/UserId.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/InvalidCourseSubscriptionError.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/CourseSubscriptionWasCreated.ts
Labels: Courses

test: covered create course subscription usecase
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/commands/CreateCourseSubscription.spec.ts
Labels: Courses

feat: added mongo course subscription repository
  apis/courses/src/contexts/course-subscriptions/application/commands/CreateCourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionData.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchemaFactory.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
Labels: Courses

test: covered mongo course subscription repository
  apis/courses/test/helpers/persistance/mongo/course-subscriptions.ts
  apis/courses/test/integration/course-subscriptions/MongoCourseSubscriptionRepository.spec.ts
Labels: Courses

feat: subscribed command handler to command bus
  apis/courses/src/api/mapping/course-subscriptions/commands/index.ts
  apis/courses/src/api/mapping/course-subscriptions/index.ts
Labels: Courses

fix: updated index of mapping
  apis/courses/src/api/mapping/index.ts
Labels: Courses

feat: POST /course-subscriptions
  apis/courses/src/api/controllers/course-subscriptions/CreateCourseSubscriptionController.ts
Labels: Courses

test: covered controller
  apis/courses/test/e2e/course-subscriptions/CreateCourseSubscription.spec.ts
  apis/courses/test/helpers/persistance/mongo/course-subscriptions.ts
Labels: Courses

feat: should not create a course-subscription if course is not published
  apis/courses/src/contexts/course-subscriptions/application/commands/CreateCourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/InvalidCourseSubscriptionError.ts
  apis/courses/test/e2e/course-subscriptions/CreateCourseSubscription.spec.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/commands/CreateCourseSubscription.spec.ts
Labels: Courses

[Courses - API] Create Course Subscription (#76)
  apis/courses/src/api/controllers/course-subscriptions/CreateCourseSubscriptionController.ts
  apis/courses/src/api/mapping/course-subscriptions/commands/index.ts
  apis/courses/src/api/mapping/course-subscriptions/index.ts
  apis/courses/src/api/mapping/index.ts
  apis/courses/src/contexts/course-subscriptions/application/commands/CreateCourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscription.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionId.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/domain/UserId.ts
  apis/courses/src/contexts/course-subscriptions/domain/errors/InvalidCourseSubscriptionError.ts
  apis/courses/src/contexts/course-subscriptions/domain/events/CourseSubscriptionWasCreated.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionData.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchema.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/CourseSubscriptionSchemaFactory.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
  apis/courses/test/e2e/course-subscriptions/CreateCourseSubscription.spec.ts
  apis/courses/test/helpers/builders/CourseSubscriptionBuilder.ts
  apis/courses/test/helpers/persistance/mongo/course-subscriptions.ts
  apis/courses/test/integration/course-subscriptions/MongoCourseSubscriptionRepository.spec.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/commands/CreateCourseSubscription.spec.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

fix: query param was not working well with default values = ''
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/api/controllers/courses/GetPublishedCoursesPaginatedController.ts
Labels: Courses

fix: paginated endpoints not working (#77)
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/api/controllers/courses/GetPublishedCoursesPaginatedController.ts
Labels: Courses

wip: subscribe to a published course
  apis/courses/src/api/controllers/course-subscriptions/CreateCourseSubscriptionController.ts
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/contexts/course-subscription/application/CreateCourseSubscription.ts
  apps/web/src/pages/api/course-subscriptions/index.ts
  packages/commons/src/contracts/course-subscriptions/CourseSubscriptionContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

style: styled subscribe to course modal
  apps/web/src/components/courses/courses.module.scss
Labels: Web

feat: added check if user is subscribed to course usecase & endpoint
  apis/courses/src/api/controllers/course-subscriptions/CheckIfUserIsSubscribedToCourseController.ts
  apis/courses/src/api/mapping/course-subscriptions/index.ts
  apis/courses/src/api/mapping/course-subscriptions/queries/index.ts
  apis/courses/src/contexts/course-subscriptions/application/queries/CheckIfUserIsSubscribedToCourse.ts
  apis/courses/test/e2e/course-subscriptions/CheckIfUserIsSubscribedToCourse.spec.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/queries/CheckIfUserIsSubscribedToCourse.spec.ts
  packages/commons/src/contracts/course-subscription/CourseSubscriptionContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

changes: not publishing unnecesary events
  apis/courses/src/contexts/lessons/application/events/ReorderLessonsOnLessonDeleted.ts
Labels: Courses

[Courses - API] Check if user is subscribed to course (#79)
  apis/courses/src/api/controllers/course-subscriptions/CheckIfUserIsSubscribedToCourseController.ts
  apis/courses/src/api/mapping/course-subscriptions/index.ts
  apis/courses/src/api/mapping/course-subscriptions/queries/index.ts
  apis/courses/src/contexts/course-subscriptions/application/queries/CheckIfUserIsSubscribedToCourse.ts
  apis/courses/test/e2e/course-subscriptions/CheckIfUserIsSubscribedToCourse.spec.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/queries/CheckIfUserIsSubscribedToCourse.spec.ts
  packages/commons/src/contracts/course-subscription/CourseSubscriptionContracts.ts
  packages/commons/src/index.ts
Labels: Auth, Courses, Profiles, Web

feat: reorder lessons on lesson deleted event handler & test (#74)
  apis/courses/src/contexts/lessons/application/events/ReorderLessonsOnLessonDeleted.ts
  apis/courses/test/unit/contexts/lessons/application/events/ReorderLessonsOnLessonDeleted.spec.ts
Labels: Courses

feat: showing if user is already subscribed to course
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/contexts/course-subscription/application/CheckIfUserIsSubscribedToCourse.ts
  apps/web/src/hooks/course/useCheckIfUserIsAlreadySubscribedToCourse.ts
  apps/web/src/pages/api/course-subscription/[courseId]/index.ts
Labels: Web

style: disabled button now is gray and mark cursor as not-allowed
  apps/web/src/components/courses/CourseContentPreview.tsx
  packages/ui/components/interactivity/cta/button/button.module.scss
  packages/ui/config/_colors.scss
Labels: Web, Storybook

[Courses - Web] Create Course Subscription (#78)
  apis/courses/src/api/controllers/course-subscriptions/CreateCourseSubscriptionController.ts
  apps/web/src/components/courses/CourseContentPreview.tsx
  apps/web/src/components/courses/courses.module.scss
  apps/web/src/contexts/course-subscription/application/CheckIfUserIsSubscribedToCourse.ts
  apps/web/src/contexts/course-subscription/application/CreateCourseSubscription.ts
  apps/web/src/hooks/course/useCheckIfUserIsAlreadySubscribedToCourse.ts
  apps/web/src/pages/api/course-subscription/[courseId]/index.ts
  apps/web/src/pages/api/course-subscriptions/index.ts
  packages/commons/src/contracts/course-subscriptions/CourseSubscriptionContracts.ts
  packages/commons/src/index.ts
  packages/ui/components/interactivity/cta/button/button.module.scss
  packages/ui/config/_colors.scss
Labels: Auth, Courses, Profiles, Web, Storybook

feat: get user course subscriptions
  apis/courses/src/contexts/course-subscriptions/application/queries/GetUserCourseSubscriptions.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
Labels: Courses

test: covered get user course subscriptions
  apis/courses/test/unit/contexts/course-subscriptions/application/queries/GetUserCourseSubscriptions.ts
Labels: Courses

feat: implemented findByUser on mongo course subscription repo
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
Labels: Courses

test: covered findByUser method on repo
  apis/courses/test/integration/course-subscriptions/MongoCourseSubscriptionRepository.spec.ts
Labels: Courses

feat: GetMySubscribedCourses usecase
  apis/courses/src/contexts/courses/application/queries/GetMySubscribedCourses.ts
  apis/courses/test/unit/contexts/courses/application/queries/GetMySubscribedCourses.spec.ts
Labels: Courses

feat: get my subscribed courses controller
  apis/courses/src/api/controllers/courses/GetMySubscribedCoursesController.ts
  apis/courses/src/api/mapping/course-subscriptions/queries/index.ts
  apis/courses/src/api/mapping/courses/queries/index.ts
  apis/courses/test/e2e/courses/GetMySubscribedCourses.spec.ts
  packages/commons/src/contracts/courses/CourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: remove course subscriptions on course unpublished event
  apis/courses/src/api/mapping/course-subscriptions/events/index.ts
  apis/courses/src/api/mapping/course-subscriptions/index.ts
  apis/courses/src/contexts/course-subscriptions/application/events/RemoveCourseSubscriptionsOnUnpublished.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/RemoveCourseSubscriptionsOnUnpublished.spec.ts
Labels: Courses

[Courses - Api] Get all courses a user is subscribed to (#80)
  apis/courses/src/api/controllers/courses/GetMySubscribedCoursesController.ts
  apis/courses/src/api/mapping/course-subscriptions/queries/index.ts
  apis/courses/src/api/mapping/courses/queries/index.ts
  apis/courses/src/contexts/course-subscriptions/application/queries/GetUserCourseSubscriptions.ts
  apis/courses/src/contexts/course-subscriptions/application/services/CourseSubscriptionFinder.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
  apis/courses/src/contexts/courses/application/queries/GetMySubscribedCourses.ts
  apis/courses/test/e2e/courses/GetMySubscribedCourses.spec.ts
  apis/courses/test/integration/course-subscriptions/MongoCourseSubscriptionRepository.spec.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/queries/GetUserCourseSubscriptions.ts
  apis/courses/test/unit/contexts/courses/application/queries/GetMySubscribedCourses.spec.ts
  packages/commons/src/contracts/courses/CourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: remove course subscriptions on course unpublished event (#81)
  apis/courses/src/api/mapping/course-subscriptions/events/index.ts
  apis/courses/src/api/mapping/course-subscriptions/index.ts
  apis/courses/src/contexts/course-subscriptions/application/events/RemoveCourseSubscriptionsOnUnpublished.ts
  apis/courses/src/contexts/course-subscriptions/domain/CourseSubscriptionRepository.ts
  apis/courses/src/contexts/course-subscriptions/infrastructure/persistance/mongo/MongoCourseSubscriptionRepository.ts
  apis/courses/test/unit/contexts/course-subscriptions/application/events/RemoveCourseSubscriptionsOnUnpublished.spec.ts
Labels: Courses
