Repository leivaa21/studio, changes with the labels that .github/labeler.yml gives for each.
All labels: Auth, Courses, Profiles, Web, Storybook

.github/labeler.yml:

Auth:
  - apis/auth/**/*
  - apis/auth/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Courses:
  - apis/courses/**/*
  - apis/courses/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Profiles:
  - apis/profiles/**/*
  - apis/profiles/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*
  - packages/dependency-injection/**/*
  - packages/dependency-injection/*

Web:
  - apps/web/**/*
  - apps/web/*
  - packages/ui/**/*
  - packages/ui/*
  - packages/api-utils/**/*
  - packages/api-utils/*
  - packages/commons/**/*
  - packages/commons/*

Storybook:
  - apps/storybook/**/*
  - apps/storybook/*
  - packages/ui/**/*
  - packages/ui/*

rm: removed unused passport-local package
  apis/auth/package.json
  yarn.lock
Labels: Auth

rm: removed unused types passport-local package
  apis/auth/package.json
  yarn.lock
Labels: Auth

rm: removed unused passport-local package on auth api (#28)
  apis/auth/package.json
  yarn.lock
Labels: Auth

chore: moved jest to devDependencies
  apis/auth/package.json
Labels: Auth

[Auth] moved jest to DevDependencies (#29)
  apis/auth/package.json
Labels: Auth

feat: use case and repository matching method
  apis/courses/src/contexts/courses/application/queries/GetMyCoursesPaginated.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/CourseRepository.ts
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/MongoCourseRepository.ts
  apis/courses/src/contexts/shared/application/QueryHandler.ts
  apis/courses/src/contexts/shared/domain/Primitive.ts
  apis/courses/src/contexts/shared/domain/criteria/Criteria.ts
  apis/courses/src/contexts/shared/domain/criteria/Filter.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterField.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterOperator.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterValue.ts
  apis/courses/src/contexts/shared/domain/criteria/Filters.ts
  apis/courses/src/contexts/shared/domain/criteria/Order.ts
  apis/courses/src/contexts/shared/domain/criteria/OrderBy.ts
  apis/courses/src/contexts/shared/domain/criteria/OrderType.ts
  apis/courses/src/contexts/shared/domain/criteria/errors/InvalidFilterError.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoCriteriaConverter.ts
  apis/courses/test/helpers/builders/CourseBuilder.ts
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
Labels: Courses

feat: queryBus and query mapped to queryBus
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/api/mapping/courses/index.ts
  apis/courses/src/api/mapping/courses/queries/index.ts
  apis/courses/src/contexts/shared/domain/QueryBus.ts
  apis/courses/src/contexts/shared/infrastructure/QueryBus/InMemoryQueryBus.ts
Labels: Courses

feat: endpoint on courses api
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
Labels: Courses

fix: removed unused imports
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
Labels: Courses

fix: removed unused imports on test
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
Labels: Courses

feat: returning CourseInfoResponse
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  packages/commons/src/contracts/courses/CourseContracts.ts
Labels: Auth, Courses, Profiles, Web

fix: creating course do not return nothing
  apps/web/src/pages/api/courses/index.ts
  packages/commons/src/contracts/courses/CreateCourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: web endpoint to get courses
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/pages/api/courses/authored.ts
Labels: Web

fix: name fixed and injected on container
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/contexts/courses/application/queries/GetMyCoursesPaginated.ts
Labels: Courses

fix: using queryParam decorator instead of param
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
Labels: Courses

wip: working on integrating endpoint with frontend
  apps/web/src/contexts/courses/application/GetAuthoredCoursesPaginated.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/pages/api/courses/authored.ts
  apps/web/src/pages/creator/index.tsx
  packages/ui/components/search/coursesSearcher.tsx
Labels: Web, Storybook

wip: working on hot refreshing for courseSearcher and showing courses on creator panel
  apps/web/src/components/creator/panel/index.tsx
  apps/web/src/pages/creator/index.tsx
  packages/ui/components/search/coursesSearcher.tsx
Labels: Web, Storybook

fix: removed import of CreateCourseResponse (not exist that response)
  apps/web/src/contexts/courses/application/CreateCourse.ts
Labels: Web

[Courses] Get my courses paginated endpoint (#31)
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/api/mapping/courses/commands/index.ts
  apis/courses/src/api/mapping/courses/index.ts
  apis/courses/src/api/mapping/courses/queries/index.ts
  apis/courses/src/contexts/courses/application/queries/GetMyCoursesPaginated.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/CourseRepository.ts
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/MongoCourseRepository.ts
  apis/courses/src/contexts/shared/application/QueryHandler.ts
  apis/courses/src/contexts/shared/domain/Primitive.ts
  apis/courses/src/contexts/shared/domain/QueryBus.ts
  apis/courses/src/contexts/shared/domain/criteria/Criteria.ts
  apis/courses/src/contexts/shared/domain/criteria/Filter.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterField.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterOperator.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterValue.ts
  apis/courses/src/contexts/shared/domain/criteria/Filters.ts
  apis/courses/src/contexts/shared/domain/criteria/Order.ts
  apis/courses/src/contexts/shared/domain/criteria/OrderBy.ts
  apis/courses/src/contexts/shared/domain/criteria/OrderType.ts
  apis/courses/src/contexts/shared/domain/criteria/errors/InvalidFilterError.ts
  apis/courses/src/contexts/shared/infrastructure/QueryBus/InMemoryQueryBus.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoCriteriaConverter.ts
  apis/courses/test/helpers/builders/CourseBuilder.ts
  apis/courses/test/integration/courses/MongoCourseRepository.spec.ts
  apps/web/src/components/creator/panel/index.tsx
  apps/web/src/contexts/courses/application/CreateCourse.ts
  apps/web/src/contexts/courses/application/GetAuthoredCoursesPaginated.ts
  apps/web/src/contexts/shared/infrastructure/ApiClients/CoursesApiService.ts
  apps/web/src/pages/api/courses/authored.ts
  apps/web/src/pages/creator/index.tsx
  packages/commons/src/contracts/courses/CourseContracts.ts
  packages/commons/src/contracts/courses/CreateCourseContracts.ts
  packages/ui/components/search/coursesSearcher.tsx
Labels: Auth, Courses, Profiles, Web, Storybook

feat: added tags to courses & implemented them on create modal
  apis/courses/src/api/controllers/courses/CreateNewCourseController.ts
  apis/courses/src/contexts/courses/application/commands/CreateNewCourse.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/CourseTag.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseData.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchemaFactory.ts
  apps/web/src/components/creator/create-modal/index.tsx
  apps/web/src/pages/api/courses/index.ts
  packages/commons/src/contexts/courses/domain/CourseTag.ts
  packages/commons/src/contracts/courses/CreateCourseContracts.ts
  packages/commons/src/index.ts
  packages/ui/components/interactivity/form/body/selectMultipleInput.tsx
  packages/ui/components/interactivity/form/index.tsx
Labels: Auth, Courses, Profiles, Web, Storybook

feat: made tag filtering work on searcher
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/contexts/courses/application/queries/GetMyCoursesPaginated.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
  apis/courses/src/contexts/shared/domain/criteria/Filter.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterOperator.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterValue.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoCriteriaConverter.ts
  apps/web/src/contexts/courses/application/GetAuthoredCoursesPaginated.ts
  apps/web/src/pages/api/courses/authored.ts
  apps/web/src/pages/creator/index.tsx
  packages/commons/src/contexts/shared/domain/ValueObject.ts
  packages/ui/components/search/coursesSearcher.tsx
Labels: Auth, Courses, Profiles, Web, Storybook

chore: removed unused console.log
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apps/web/src/contexts/courses/application/GetAuthoredCoursesPaginated.ts
  apps/web/src/pages/api/courses/authored.ts
Labels: Courses, Web

[Courses] Course Tags (#32)
  apis/courses/src/api/controllers/courses/CreateNewCourseController.ts
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  apis/courses/src/contexts/courses/application/commands/CreateNewCourse.ts
  apis/courses/src/contexts/courses/application/queries/GetMyCoursesPaginated.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/CourseTag.ts
  apis/courses/src/contexts/courses/domain/criteria/CourseCriteria.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseData.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchema.ts
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/CourseSchemaFactory.ts
  apis/courses/src/contexts/shared/domain/criteria/Filter.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterOperator.ts
  apis/courses/src/contexts/shared/domain/criteria/FilterValue.ts
  apis/courses/src/contexts/shared/infrastructure/mongo/MongoCriteriaConverter.ts
  apps/web/src/components/creator/create-modal/index.tsx
  apps/web/src/contexts/courses/application/GetAuthoredCoursesPaginated.ts
  apps/web/src/pages/api/courses/authored.ts
  apps/web/src/pages/api/courses/index.ts
  apps/web/src/pages/creator/index.tsx
  packages/commons/src/contexts/courses/domain/CourseTag.ts
  packages/commons/src/contexts/shared/domain/ValueObject.ts
  packages/commons/src/contracts/courses/CreateCourseContracts.ts
  packages/commons/src/index.ts
  packages/ui/components/interactivity/form/body/selectMultipleInput.tsx
  packages/ui/components/interactivity/form/index.tsx
  packages/ui/components/search/coursesSearcher.tsx
Labels: Auth, Courses, Profiles, Web, Storybook

fix: tags parameter was not given on closeFunction's onFetch
  apps/web/src/pages/creator/index.tsx
Labels: Web

refactor: picking tags from record
  apps/web/src/pages/creator/index.tsx
Labels: Web

[Creator Panel] Fix creator panel (#33)
  apps/web/src/pages/creator/index.tsx
Labels: Web

feat: refactor create new course modal to full page form
  apps/web/src/pages/course/new.tsx
  apps/web/src/pages/creator/index.tsx
  packages/ui/components/interactivity/cta/button/index.tsx
Labels: Web, Storybook

feat: refactor create new course modal to full page form (#34)
  apps/web/src/pages/course/new.tsx
  apps/web/src/pages/creator/index.tsx
  packages/ui/components/interactivity/cta/button/index.tsx
Labels: Web, Storybook

feat: added tags to CourseInforResponse
  apis/courses/src/api/controllers/courses/GetMyCoursesPaginatedController.ts
  packages/commons/src/contracts/courses/CourseContracts.ts
Labels: Auth, Courses, Profiles, Web

feat: extracted course to component
  apps/web/src/components/creator/panel/course.tsx
  apps/web/src/components/creator/panel/index.tsx
Labels: Web

wip: grid of (wip)course-cards
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/components/creator/panel/CourseCreatorGrid.tsx
  apps/web/src/components/creator/panel/course.tsx
  apps/web/src/components/creator/panel/index.tsx
  apps/web/src/components/creator/panel/panel.module.scss
Labels: Web

feat: added min width to course searcher
  packages/ui/components/search/search.module.scss
Labels: Web, Storybook

feat: initial version of course cards and course grid for creator
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/components/creator/panel/CourseTags.tsx
  apps/web/src/components/creator/panel/panel.module.scss
Labels: Web

[Courses - Panel] Course Card for creator panel (#35)
  apps/web/src/components/creator/panel/CourseCreatorCard.tsx
  apps/web/src/components/creator/panel/CourseCreatorGrid.tsx
  apps/web/src/components/creator/panel/CourseTags.tsx
  apps/web/src/components/creator/panel/index.tsx
  apps/web/src/components/creator/panel/panel.module.scss
  packages/ui/components/search/search.module.scss
Labels: Web, Storybook

feat: rename course usecase
  apis/courses/src/contexts/courses/application/commands/RenameCourse.ts
  apis/courses/src/contexts/courses/application/services/CourseFinder.ts
  apis/courses/src/contexts/courses/domain/Course.ts
  apis/courses/src/contexts/courses/domain/CourseRepository.ts
  apis/courses/src/contexts/courses/domain/errors/CourseNotFoundError.ts
  apis/courses/src/contexts/courses/domain/events/CourseWasRenamed.ts
  apis/courses/src/contexts/shared/domain/Nullable.ts
  packages/commons/src/errors/ErrorCodes.ts
Labels: Auth, Courses, Profiles, Web

feat: implemented needed methods on mongo repository
  apis/courses/src/contexts/courses/infrastructure/persistance/mongo/MongoCourseRepository.ts
Labels: Courses

fix: course builder was missing tags new parameter
  apis/courses/test/helpers/builders/CourseBuilder.ts
Labels: Courses

fix: CourseId.equals replaced by === operator
  apis/courses/src/contexts/courses/domain/Course.ts
Labels: Courses

test: added happy path test case for rename usecase
  apis/courses/test/unit/contexts/courses/application/commands/RenameCourse.spec.ts
Labels: Courses

feat: not renaming if title is the same as before
  apis/courses/src/contexts/courses/application/commands/RenameCourse.ts
Labels: Courses
